version: '3.8'
    
services:
  mock-admin:
    image: stoplight/prism:4
    volumes:
      - ./reference:/reference
    ports:
      - "4011:4010"
    command: >
      mock -p 4010 -h 0.0.0.0 /reference/admin.yaml
  mock-spender:
    image: stoplight/prism:4
    volumes:
      - ./reference:/reference
    ports:
      - "4012:4010"
    command: >
      mock -p 4010 -h 0.0.0.0 /reference/spender.yaml
  mock-approver:
    image: stoplight/prism:4
    volumes:
      - ./reference:/reference
    ports:
      - "4013:4010"
    command: >
      mock -p 4010 -h 0.0.0.0 /reference/approver.yaml
  mock-common:
    image: stoplight/prism:4
    volumes:
      - ./reference:/reference
    ports:
      - "4014:4010"
    command: >
      mock -p 4010 -h 0.0.0.0 /reference/common.yaml
  mock-accountant:
    image: stoplight/prism:4
    volumes:
      - ./reference:/reference
    ports:
      - "4014:4010"
    command: >
      mock -p 4010 -h 0.0.0.0 /reference/accountant.yaml
  mock-super_admin:
    image: stoplight/prism:4
    volumes:
      - ./reference:/reference
    ports:
      - "4014:4010"
    command: >
      mock -p 4010 -h 0.0.0.0 /reference/super_admin.yaml
  mock-manager:
    image: stoplight/prism:4
    volumes:
      - ./reference:/reference
    ports:
      - "4015:4010"
    command: >
      mock -p 4010 -h 0.0.0.0 /reference/manager.yaml
