openapi: 3.0.3
info:
  version: '1.0'
  title: Authorization APIs
  termsOfService: 'https://www.fylehq.com/privacy/terms-and-conditions'
  contact:
    name: Platform Beta
    email: support@fylehq.com
  description: |
    These APIs are used for authorization.

servers:
  - url: 'https://accounts.fylehq.com'
    description: Authorization Server
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: 'https://app.fylehq.com/app/developers/oauth/authorize'
          tokenUrl: 'https://accounts.fylehq.com/oauth/token'
          scopes:
            '*': 'Grant all actions'

paths:
  /oauth/cluster:
    $ref: 'paths/oauth@cluster.yaml'
  /oauth/token:
    $ref: 'paths/oauth@token.yaml'
