openapi: 3.0.3
info:
  version: '1.0'
  title: Spender APIs
  termsOfService: 'https://www.fylehq.com/privacy/terms-and-conditions'
  contact:
    name: Platform Beta
    email: support@fylehq.com
  description: |
    These APIs are used by applications that operate on the Spender's behalf. Very commonly, it is to enable creation of expenses and reports.

servers:
  - url: 'https://us1.fylehq.com/platform/v1'
    description: US Region Server
  - url: 'https://in1.fylehq.com/platform/v1'
    description: India Region Server
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: 'https://app.fylehq.com/app/developers/#/oauth/authorize'
          tokenUrl: 'https://accounts.fylehq.com/oauth/token'
          scopes:
            '*': 'Grant all actions'

tags:
  - name: Accounts
    description: |
      These APIs gives access to your account's data.
  - name: Advances
    description: |
      This API gives you access to view your Cash Advances data.
  - name: Automations
    description: |
      This API gives you access to organisation's automations data.
  - name: Categories
    description: |
      This API gives you list of your organisation's Categories data.
  - name: Corporate Cards
    description: |
      This API gives you access to your Cards data.
  - name: Corporate Card Transactions
    description: |
      This API gives you access to your Corporate Card Transaction data.
  - name: Cost Centers
    description: |
      These APIs gives you access to Cost Centers data.
  - name: Departments
    description: |
      These APIs gives you access to Departments data.
  - name: Expenses
    description: |
      This API gives you access to your Expenses data.
  - name: Expense Policies
    description: |
      This API gives you access to your organisation's Expense Policies
  - name: Employees
    description: |
      These APIs gives you access to manage your organisation's Employees
  - name: Merchants
    description: |
      This API gives you access to merchants, primarily to help with autocomplete.
  - name: Mileage Rates
    description: |
      These APIs gives access to your organisation's Mileage Rates
  - name: My Profile
    description: |
      This API gives you access to manage your profile data.
  - name: Per Diem Rates
    description: |
      These APIs gives you access to your Per Diem Rates
  - name: Projects
    description: |
      These APIs gives you access to Projects data.
  - name: Reports
    description: |
      This API gives you access to your Expense Reports data.
  - name: Schedules
    description: |
      This API let you create Scheduled jobs. 
      This API gives you access to your Corporate Cards data.
  - name: Subscriptions
    description: |
      This API allows you to subscribe to different events.
  - name: Tax Groups
    description: |
      These APIs gives you access to manage your organisation's Tax Groups data.
  # - name: Suggestions
  #   description: |
  #     This API gives you access to Expense/Card Transactions Suggestions.
#  - name: Files
#    description: |
#      Creates a file.

paths:
  /spender/projects:
    $ref: 'paths/spender@projects.yaml'
  /spender/cost_centers:
    $ref: 'paths/spender@cost_centers.yaml'
  /spender/categories:
    $ref: 'paths/spender@categories.yaml'
  /spender/expense_fields:
    $ref: 'paths/spender@expense_fields.yaml'
  /spender/dependent_expense_field_values:
    $ref: 'paths/spender@dependent_expense_field_values.yaml'
  /spender/mileage_rates:
    $ref: 'paths/spender@mileage_rates.yaml'
  /spender/my_profile:
    $ref: 'paths/spender@my_profile.yaml'
  /spender/accounts:
    $ref: 'paths/spender@accounts.yaml'
  /spender/departments:
    $ref: 'paths/spender@departments.yaml'
  /spender/expenses:
    $ref: 'paths/spender@expenses.yaml'
  /spender/expenses/add_comment:
    $ref: 'paths/spender@expenses@add_comment.yaml'
  /spender/expenses/attach_receipt:
    $ref: 'paths/spender@expenses@attach_receipt.yaml'
  /spender/expenses/create_from_receipt:
    $ref: 'paths/spender@expenses@create_from_receipt.yaml'
  /spender/expenses/create_from_file/bulk:
    $ref: 'paths/spender@expenses@create_from_file@bulk.yaml'
  /spender/per_diem_rates:
    $ref: 'paths/spender@per_diem_rates.yaml'
  /spender/merchants:
    $ref: 'paths/spender@merchants.yaml'
  /spender/subscriptions:
    $ref: 'paths/spender@subscriptions.yaml'
  /spender/schedules:
    $ref: 'paths/spender@schedules.yaml'
#  /spender/expenses/policy_test:
#    $ref: 'paths/spender@expenses@policy_test.yaml'
  /spender/reports:
    $ref: 'paths/spender@reports.yaml'
  /spender/reports/add_expenses:
    $ref: 'paths/spender@reports@add_expenses.yaml'
  /spender/reports/eject_expenses:
    $ref: 'paths/spender@reports@eject_expenses.yaml'
  /spender/reports/submit:
    $ref: 'paths/spender@reports@submit.yaml'
  /spender/reports/resubmit:
    $ref: 'paths/spender@reports@resubmit.yaml'
  /spender/reports/stats:
    $ref: 'paths/spender@reports@stats.yaml'
  /spender/reports/suggest_purpose:
    $ref: 'paths/spender@reports@suggest_purpose.yaml'
  /spender/advance_requests:
    $ref: paths/spender@advance_requests.yaml
  /spender/advances:
    $ref: paths/spender@advances.yaml

  /spender/corporate_cards:
    $ref: paths/spender@corporate_cards.yaml

  /spender/corporate_card_transactions:
    $ref: paths/spender@corporate_card_transactions.yaml

  /spender/corporate_card_transactions/mark_personal:
    $ref: paths/spender@corporate_card_transactions@mark_personal.yaml
#  /spender/corporate_card_transactions/mark_personal/bulk:
#    $ref: paths/spender@corporate_card_transactions@mark_personal@bulk.yaml
  /spender/corporate_card_transactions/unmark_personal:
    $ref: paths/spender@corporate_card_transactions@unmark_personal.yaml
#  /spender/corporate_card_transactions/unmark_personal/bulk:
#    $ref: paths/spender@corporate_card_transactions@unmark_personal@bulk.yaml
  /spender/corporate_card_transactions/ignore:
    $ref: paths/spender@corporate_card_transactions@ignore.yaml
#  /spender/corporate_card_transactions/ignore/bulk:
#    $ref: paths/spender@corporate_card_transactions@ignore@bulk.yaml
  /spender/corporate_card_transactions/undo_ignore:
    $ref: paths/spender@corporate_card_transactions@undo_ignore.yaml
#  /spender/corporate_card_transactions/undo_ignore/bulk:
#    $ref: paths/spender@corporate_card_transactions@undo_ignore@bulk.yaml
  /spender/corporate_card_transactions/match:
    $ref: paths/spender@corporate_card_transactions@match.yaml
  /spender/corporate_card_transactions/unmatch:
    $ref: paths/spender@corporate_card_transactions@unmatch.yaml
  /spender/employees:
    $ref: paths/spender@employees.yaml
  /spender/employees/commute_details:
    $ref: paths/spender@employees@commute_details.yaml
  /spender/employees/commute_details/delete:
    $ref: paths/spender@employees@commute_details@delete.yaml

  /spender/virtual_cards:
    $ref: paths/spender@virtual_cards.yaml
  /spender/virtual_cards/get_current_amount:
    $ref: paths/spender@virtual_cards@get_current_amount.yaml
  /spender/virtual_cards/show_card_details:
    $ref: paths/spender@virtual_cards@show_card_details.yaml

  # /spender/suggestions/expenses:
  #   $ref: paths/spender@suggestions@expenses.yaml
  # /spender/suggestions/corporate_card_transactions:
  #   $ref: paths/spender@suggestions@corporate_card_transactions.yaml
  /spender/tax_groups:
    $ref: 'paths/spender@tax_groups.yaml'
  /spender/files:
    $ref: paths/spender@files.yaml
  /spender/files/bulk:
    $ref: paths/spender@files@bulk.yaml
  /spender/files/generate_urls:
    $ref: paths/spender@files@generate_urls.yaml
  /spender/files/generate_urls/bulk:
    $ref: paths/spender@files@generate_urls@bulk.yaml
  /spender/files/download:
    $ref: paths/spender@files@download.yaml
  # /spender/expense_files:
  #   $ref: paths/spender@expense_files.yaml
  # /spender/exchange_rate:
  #   $ref: paths/spender@exchange_rate.yaml
  /spender/expense_policy_rules:
    $ref: paths/spender@expense_policies.yaml
  /spender/expense_policy_states:
    $ref: paths/spender@expense_policies@states.yaml
  /spender/expenses/check_policies:
    $ref: paths/spender@expenses@check_policies.yaml
  /spender/automations/report_submissions/next_at :
    $ref: paths/spender@automations@report_submissions@next_at.yaml
  /spender/expenses/check_mandatory_fields:
    $ref: paths/spender@expenses@check_mandatory_fields.yaml
  /spender/expenses/dismiss_duplicates/bulk:
    $ref: paths/spender@expenses@dismiss_duplicates@bulk.yaml
  /spender/expenses/duplicate_sets:
    $ref: paths/spender@expenses@duplicate_sets.yaml
  /spender/expenses/stats:
    $ref: paths/spender@expenses@stats.yaml
  /spender/expenses/filters:
    $ref: paths/spender@expenses@filters.yaml
  /spender/expenses/filters/delete:
    $ref: paths/spender@expenses@filters@delete.yaml
  /spender/expenses/exports:
    $ref: paths/spender@expenses@exports.yaml
  /spender/expenses/split:
    $ref: paths/spender@expenses@split.yaml
  /spender/expenses/split/check_policies:
    $ref: paths/spender@expenses@split@check_policies.yaml
  /spender/expenses/split/check_mandatory_fields:
    $ref: paths/spender@expenses@split@check_mandatory_fields.yaml
