openapi: 3.0.3
info:
  version: '1.0'
  title: Approver APIs
  description: |
    These APIs are generally used by applications that want to enable approval of reports.
  contact:
    name: Platform Beta
    email: support@fylehq.com
servers:
  - url: 'https://us1.fylehq.com/platform/v1'
    description: US Region Server
  - url: 'https://in1.fylehq.com/platform/v1'
    description: India Region Server
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: 'https://app.fylehq.com/app/developers/#/oauth/authorize'
          tokenUrl: 'https://accounts.fylehq.com/oauth/token'
          scopes:
            '*': 'Grant all actions'
tags:
#  - name: Advances
#    description: |
#      This API gives you access to view your Issued Advances data.
  - name: Categories
    description: |
      These APIs gives you access to manage your organisation's Categories
#  - name: Corporate Cards
#    description: |
#      This API gives you access to perform action on Corporate Cards and their transactions.
  - name: Projects
    description: |
      These APIs gives you access to manage your organisation's Projects
  - name: Reports
    description: |
      This API gives you access to your organisation's Expense Reports
  - name: Subscriptions
    description: |
      This API allows you to subscribe to different events.
  # - name: Suggestions
  #   description: |
  #     This API gives you access to Corporate Card Suggestions.

paths:
  /approver/reports:
    $ref: 'paths/approver@reports.yaml'
  /approver/reports/partially_approve:
    $ref: 'paths/approver@reports@partially_approve.yaml'
  /approver/expenses:
    $ref: 'paths/approver@expenses.yaml'
  /approver/reports/eject_expenses:
    $ref: 'paths/approver@reports@eject_expenses.yaml'
  /approver/subscriptions:
    $ref: 'paths/approver@subscriptions.yaml'
#  /approver/advance_requests:
#    $ref: 'paths/approver@advance_requests.yaml'
#  /approver/advance_requests/partially_approve:
#    $ref: 'paths/approver@advance_requests@partially_approve.yaml'

#  /approver/corporate_card_transactions/match:
#    $ref: paths/approver@corporate_card_transactions@match.yaml
#  /approver/corporate_card_transactions/unmatch:
#    $ref: paths/approver@corporate_card_transactions@unmatch.yaml
  /approver/projects:
    $ref: paths/approver@projects.yaml
  /approver/categories:
    $ref: paths/approver@categories.yaml


  # /approver/suggestions/corporate_card_transactions:
  #   $ref: paths/approver@suggestions@corporate_card_transactions.yaml
  /approver/expense_policy_states:
    $ref: paths/approver@expense_policies@states.yaml
  /approver/expenses/check_mandatory_fields:
    $ref: paths/approver@expenses@check_mandatory_fields.yaml
  /approver/expenses/dismiss_duplicates/bulk:
    $ref: paths/approver@expenses@dismiss_duplicates@bulk.yaml
  /approver/expenses/duplicate_sets:
    $ref: paths/approver@expenses@duplicate_sets.yaml
  /approver/expenses/stats:
    $ref: paths/approver@expenses@stats.yaml
  /approver/expenses/filters:
    $ref: paths/approver@expenses@filters.yaml
  /approver/expenses/filters/delete:
    $ref: paths/approver@expenses@filters@delete.yaml