openapi: 3.0.3
info:
  version: '1.0'
  title: Approver APIs
  description: |
    These APIs are generally used by applications that want to enable approval of reports.
  contact:
    name: Platform Beta
    email: support@fylehq.com
servers:
  - url: 'https://us1.fylehq.com/platform/v1'
    description: US Region Server
  - url: 'https://in1.fylehq.com/platform/v1'
    description: India Region Server
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: 'https://app.fylehq.com/app/developers/#/oauth/authorize'
          tokenUrl: 'https://accounts.fylehq.com/oauth/token'
          scopes:
            '*': 'Grant all actions'
tags:
  - name: Accounts
    description: |
      This API gives access to your accounts data.
  - name: Advances
    description: |
      This API gives you access to view your Issued Advances data.
  - name: Categories
    description: |
      These APIs gives you access to manage your organisation's Categories
  - name: Cost Centers
    description: |
      These APIs gives you access to manage your organisation's Cost Centers
#  - name: Corporate Cards
#    description: |
#      This API gives you access to perform action on Corporate Cards and their transactions.
  - name: Per Diem Rates
    description: |
      This API gives you access to manage your organisation's Per Diem Rates
  - name: Projects
    description: |
      These APIs gives you access to manage your organisation's Projects
  - name: Mileage Rates
    description: |
      This API gives you access to your organisation's Mileage Rates
  - name: Reports
    description: |
      This API gives you access to your organisation's Expense Reports
  - name: Subscriptions
    description: |
      This API allows you to subscribe to different events.
  - name: Employees
    description: |
      These APIs gives you access to manage your organisation's Employees
  
  # - name: Suggestions
  #   description: |
  #     This API gives you access to Corporate Card Suggestions.

paths:
  /approver/reports:
    $ref: 'paths/approver@reports.yaml'
  /approver/reports/add_approver:
    $ref: 'paths/approver@reports@add_approver.yaml'
  /approver/reports/partially_approve:
    $ref: 'paths/approver@reports@partially_approve.yaml'
  /approver/reports/partially_approve/bulk:
    $ref: 'paths/approver@reports@partially_approve@bulk.yaml'
  /approver/reports/send_back:
    $ref: 'paths/approver@reports@send_back.yaml'
  /approver/reports/exports:
    $ref: paths/approver@reports@exports.yaml
  /approver/expenses:
    $ref: 'paths/approver@expenses.yaml'
  /approver/expenses/attach_files/bulk :
    $ref: paths/approver@expenses@attach_files@bulk.yaml
  /approver/expenses/permissions:
    $ref: paths/approver@expenses@permissions.yaml
  /approver/reports/eject_expenses:
    $ref: 'paths/approver@reports@eject_expenses.yaml'
  /approver/reports/filters:
    $ref: 'paths/approver@reports@filters.yaml'
  /approver/reports/filters/delete:
    $ref: 'paths/approver@reports@filters@delete.yaml'
  /approver/reports/stats:
    $ref: 'paths/approver@reports@stats.yaml'
  /approver/reports/comments:
    $ref: 'paths/approver@reports@comments.yaml'
  /approver/reports/permissions:
    $ref: 'paths/approver@reports@permissions.yaml'
  /approver/reports/round_off_amount:
    $ref: 'paths/approver@reports@round_off_amount.yaml'
  /approver/subscriptions:
    $ref: 'paths/approver@subscriptions.yaml'
  /approver/advance_requests:
    $ref: 'paths/approver@advance_requests.yaml'
  /approver/advance_requests/stats:
    $ref: 'paths/approver@advance_requests@stats.yaml'
  /approver/advance_requests/permissions:
    $ref: 'paths/approver@advance_requests@permissions.yaml'
  /approver/advance_requests/comments:
    $ref: 'paths/approver@advance_requests@comments.yaml'
#  /approver/advance_requests/partially_approve:
#    $ref: 'paths/approver@advance_requests@partially_approve.yaml'

#  /approver/corporate_card_transactions/match:
#    $ref: paths/approver@corporate_card_transactions@match.yaml
#  /approver/corporate_card_transactions/unmatch:
#    $ref: paths/approver@corporate_card_transactions@unmatch.yaml
  /approver/projects:
    $ref: paths/approver@projects.yaml
  /approver/categories:
    $ref: paths/approver@categories.yaml
  /approver/cost_centers:
    $ref: paths/approver@cost_centers.yaml
  /approver/per_diem_rates:
    $ref: paths/approver@per_diem_rates.yaml
  /approver/mileage_rates:
    $ref: paths/approver@mileage_rates.yaml


  # /approver/suggestions/corporate_card_transactions:
  #   $ref: paths/approver@suggestions@corporate_card_transactions.yaml
  /approver/expense_policy_states:
    $ref: paths/approver@expense_policies@states.yaml
  /approver/expenses/check_mandatory_fields:
    $ref: paths/approver@expenses@check_mandatory_fields.yaml
  /approver/expenses/comments:
    $ref: paths/approver@expenses@comments.yaml
  /approver/expenses/comments/bulk:
    $ref: paths/approver@expenses@comments@bulk.yaml
  /approver/expenses/dismiss_duplicates/bulk:
    $ref: paths/approver@expenses@dismiss_duplicates@bulk.yaml
  /approver/expenses/duplicate_sets:
    $ref: paths/approver@expenses@duplicate_sets.yaml
  /approver/expenses/stats:
    $ref: paths/approver@expenses@stats.yaml
  /approver/expenses/filters:
    $ref: paths/approver@expenses@filters.yaml
  /approver/expenses/filters/delete:
    $ref: paths/approver@expenses@filters@delete.yaml
  /approver/expenses/exports:
    $ref: paths/approver@expenses@exports.yaml
  /approver/expenses/split:
    $ref: paths/approver@expenses@split.yaml
  /approver/expenses/split/check_policies:
    $ref: paths/approver@expenses@split@check_policies.yaml
  /approver/expenses/split/check_mandatory_fields:
    $ref: 'paths/approver@expenses@split@check_mandatory_fields.yaml'

  /approver/files/bulk:
    $ref: paths/approver@files@bulk.yaml
  /approver/files/generate_urls/bulk:
    $ref: paths/approver@files@generate_urls@bulk.yaml
  /approver/files/delete/bulk:
    $ref: paths/approver@files@delete@bulk.yaml
  /approver/files/download:
    $ref: paths/approver@files@download.yaml
  /approver/employees:
    $ref: paths/approver@employees.yaml
  /approver/accounts:
    $ref: 'paths/approver@accounts.yaml'
  /approver/employee_settings:
    $ref: paths/approver@employee@settings.yaml
  /approver/advance_requests/attach_files/bulk:
    $ref: paths/approver@advance_requests@bulk_attach_file.yaml
  /approver/advance_requests/approve/bulk:
    $ref: paths/approver@advance_requests@approve@bulk.yaml
