openapi: 3.0.3
info:
  version: '3.0'
  title: Approver APIs
  contact:
    name: Integrations
    email: support@fylehq.com
servers:
  - url: 'https://hulk.fyle.tech/platform/v1'
    description: Staging Server
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: 'https://accounts.fylehq.com/app/developers/#/oauth/authorize'
          tokenUrl: 'https://accounts.fylehq.com/oauth/token'
          scopes:
            '*': Grant all actions
  parameters:
    org_id:
      in: query
      name: org_id
      description: |
        The unique id of the organization to which the object is associated.
      schema:
        type: string
        example: org_id=eq.orwruogwnngg
    created_at:
      in: query
      name: created_at
      description: >
        Date string in yyyy-MM-ddTHH:mm:ss.SSS format along with operator in RHS
        dot pattern.<br>

        Supported operators are `gte`,`lte`,`gt`,`lt`.<br>

        created_at=gte.2020-06-01T00:00:00.000 filters all objects created on or
        after 1st Jun 2020.<br>

        created_at=gte.2020-06-01T00:00:00.000&created_at=lt.2020-07-01T00:00:00.000
        filters all objects `created` in the month of Jun 2020.<br>
      schema:
        type: string
        example: >-
          created_at=gte.2020-06-01T00:00:00.000&created_at=lt.2020-07-01T00:00:00.000
    updated_at:
      in: query
      name: updated_at
      description: >
        Date string in yyyy-MM-ddTHH:mm:ss.SSSZ  format along with operator in
        RHS dot pattern.<br>

        Supported operators are `gte`,`lte`,`gt`,`lt`.<br>

        updated_at=gte.2021-01-01T00:00:00.000%2D08:00 filters all objects
        updated on or after 1st Jan 2021.<br>

        updated_at=gte.2020-06-01T00:00:00.000Z&updated_at=lt.2020-07-01T00:00:00.000Z
        filters all objects `updated` in the month of Jun 2020.<br>
      schema:
        type: string
        example: >-
          updated_at=gte.2020-06-01T00:00:00.000%2D08:00&updated_at=lt.2020-07-01T00:00:00.000%2D08:00
    is_enabled:
      in: query
      name: is_enabled
      description: |
        This param is used to filer records by
        Supported operators are `eq`.<br>
      schema:
        type: string
        example: eq.true
    order:
      in: query
      name: order
      description: |
        use comma separated column names for sorting the results. <br>
        For sorting in descending order, use `column_name.desc`
      schema:
        type: string
        example: 'updated_at.desc,id'
    offset:
      in: query
      name: offset
      description: |
        offset is used to skip that many number of objects before counting. <br>
      schema:
        type: integer
        example: 10
    limit:
      in: query
      name: limit
      description: >
        A limit on the number of objects to be returned. Allowed values are from
        1 to 200.
      schema:
        type: integer
        example: 20
        default: 50
        maximum: 200
  schemas:
    '401':
      type: object
      properties:
        message:
          enum:
            - invalid token
          type: string
          description: >
            This error means that the input access token is either not issued by
            Fyle or has expired.

            You need to generate a new access token.
    count:
      type: integer
      description: |
        The total number of objects that can be requested.
      example: 10000
    offset:
      description: >
        offset is used to skip that many number of objects before counting. <br>

        For example, if there are 2000 objects, <br>

        The first request will have offset as 0 and limit as 1000 to return
        first 1000 objects. <br>

        The second request will have offset as 1000 and limit as 1000 to return
        next 1000 objects. <br>
      type: integer
      example: 10
    url:
      type: string
    id_integer:
      type: integer
      description: |
        This id provided by Fyle to identify an object.
      example: 1234
    org_id:
      type: string
      description: |
        The unique id of the Organization to which the object is associated.
      readOnly: true
      example: orwruogwnngg
    created_at:
      type: string
      format: date-time
      description: |
        Signifies when this object was created.
      example: '2020-06-01T13:14:54.804+00:00'
    updated_at:
      type: string
      format: date-time
      description: |
        Signifies when this object was updated.
      example: '2020-06-11T13:14:55.201598+00:00'
    category_ids:
      type: array
      description: |
        List of category ids.
      items:
        type: integer
        example: 16570
    is_enabled:
      type: boolean
      description: >
        This indicates if the resource is enabled for use within the
        organisation.
      default: true
      example: true
    expense_field_out:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/id_integer'
        org_id:
          $ref: '#/components/schemas/org_id'
        created_at:
          $ref: '#/components/schemas/created_at'
        updated_at:
          $ref: '#/components/schemas/updated_at'
        seq:
          type: integer
          example: 1
        field_name:
          type: string
          description: |
            This specifies the name of the expense field.
          example: Vendor desciption
        column_name:
          type: string
          description: >
            This specifies the name of column to which this expense field mapped
            to.
          example: text_column1
        title:
          type: string
          description: |
            This specifies the title of the expense field.
          example: Vendor desciption
        type:
          type: string
          description: |
            This field specifies the type of the expense field.
          example: TEXT
        options:
          type: array
          items:
            type: string
          description: >
            This specifies the option values of the expense field in case on
            SELECT or MULTI_SELECT type.
          example:
            - Chai
            - Coffee
        default_value:
          type: string
          description: |
            This specifies the default value of the expense fields.
          example: Coffee
        placeholder:
          type: string
          description: |
            This specifies the placeholder of the expense field.
          example: Enter vendor
        category_ids:
          $ref: '#/components/schemas/category_ids'
        is_enabled:
          $ref: '#/components/schemas/is_enabled'
        is_custom:
          type: boolean
          description: |
            This field indicates if the expense field is custom or not.
          example: false
        mandatory:
          type: boolean
          description: |
            This specifies if the expense field is mandatory or not.
          example: true
tags:
  - name: Expenses
    description: |
      This API gives you access to Expenses data which are reported to you.
  - name: Reports
    description: >
      These API gives you access to Expense Reports data which are submitted to
      you.
paths:
  /approver/expense_fields:
    get:
      tags:
        - Expenses
      summary: List expense fields
      description: |
        Gives the list of all expense fields based on query parameters.
      operationId: expense_fields_list
      parameters:
        - $ref: '#/components/parameters/org_id'
        - $ref: '#/components/parameters/created_at'
        - $ref: '#/components/parameters/updated_at'
        - $ref: '#/components/parameters/is_enabled'
        - $ref: '#/components/parameters/order'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    $ref: '#/components/schemas/count'
                  offset:
                    $ref: '#/components/schemas/offset'
                  url:
                    $ref: '#/components/schemas/url'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/expense_field_out'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
