openapi: 3.0.3
info:
  version: '3.0'
  title: Common APIs
  description: |
    These APIs are common and used by every role.
  contact:
    name: Platform Beta
    email: support@fylehq.com
servers:
  - url: https://us1.fylehq.com/platform/v1
    description: US Region Server
  - url: https://in1.fylehq.com/platform/v1
    description: India Region Server
tags:
  - name: Currencies
    description: |
      These APIs gives you list of currencies supported by Fyle and their exchange rates.
  - name: Places
    description: |
      These APIs provide location services including place suggestions, geocoding, distance calculations, and directions. The new POST endpoints follow Fyle API standards and replace the legacy GET endpoints.
paths:
  /common/places/autocomplete:
    get:
      tags:
        - Places
      summary: Suggest places
      description: |
        Lists all the place suggestions based on given query.
      operationId: places_autocomplete
      parameters:
        - in: query
          name: q
          required: true
          description: |
            The query string on which to search. The service will return candidate matches
            based on this string and order results based on their perceived relevance.<br>

            q=bangalore
          schema:
            type: string
            example: bangalore
        - in: query
          name: types
          required: true
          description: |
            The types of place results to return.<br>

            Note the `()` which represents the collection of multiple types.<br>

            For more information click <a
            href='https://developers.google.com/places/web-service/supported_types#table3'>here</a>.<br>

            types=(cities)
          schema:
            type: string
            example: (cities)
            enum:
              - (cities)
              - (regions)
              - geocode
              - address
              - establishment
        - in: query
          name: current_location
          description: |
            This param specifies the point around which you wish to retrieve place
            information.<br>

            location=latitude,longitude
          schema:
            type: string
            example: 26.595889,85.4891037
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    $ref: '#/components/schemas/count'
                  offset:
                    $ref: '#/components/schemas/offset'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/place_out_minimal'
        '400':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
  /common/places:
    get:
      tags:
        - Places
      summary: List places
      description: |
        Lists all the place suggestions based on given query.
      operationId: places_list
      parameters:
        - in: query
          name: id
          required: true
          schema:
            type: string
            example: ChIJify3BTzI5zsR2q86fwXrh74
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    $ref: '#/components/schemas/count'
                  offset:
                    $ref: '#/components/schemas/offset'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/place_out'
        '400':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
  /common/location/autocomplete:
    post:
      tags:
        - Places
      summary: Location Autocomplete
      description: |
        Returns place suggestions based on the search query.
      operationId: location_autocomplete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - search_query
                - user_id
              properties:
                search_query:
                  type: string
                  description: The query string on which to search for place suggestions
                  example: www
                user_id:
                  type: string
                  description: User ID for cache personalization
                  example: usx4eGq0uIPu
                location:
                  type: string
                  description: Optional location bias in format "latitude,longitude"
                  example: 26.595889,85.4891037
                types:
                  type: string
                  description: Optional place types filter
                  example: (cities)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      predictions:
                        type: array
                        items:
                          type: object
                          properties:
                            description:
                              type: string
                              example: wwwtc mall, Gloucester Road, Causeway Bay, Hong Kong
                            place_id:
                              type: string
                              example: ChIJVX_KZ1YABDQR8TZ6STtir8M
                            structured_formatting:
                              type: object
                              properties:
                                main_text:
                                  type: string
                                  example: wwwtc mall
                                secondary_text:
                                  type: string
                                  example: Gloucester Road, Causeway Bay, Hong Kong
                            types:
                              type: array
                              items:
                                type: string
                              example:
                                - establishment
                                - point_of_interest
                      status:
                        type: string
                        example: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
  /common/location/geocode:
    post:
      tags:
        - Places
      summary: Location Geocode
      description: |
        Returns detailed location information for a given place_id including city, state, country, coordinates, and formatted address.
      operationId: location_geocode
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - place_id
              properties:
                place_id:
                  type: string
                  description: The unique identifier for a place
                  example: ChIJbU60yXAWrjsR4E9-UejD3_g
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      city:
                        type: string
                        example: Erquelinnes
                      state:
                        type: string
                        example: Wallonia
                      country:
                        type: string
                        example: Belgium
                      formatted_address:
                        type: string
                        example: 6560 Erquelinnes, Belgium
                      latitude:
                        type: number
                        example: 50.309363
                      longitude:
                        type: number
                        example: 4.1192047
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
  /common/location/distance:
    post:
      tags:
        - Places
      summary: Location Distance
      description: |
        Returns the distance between two coordinates for a specified travel mode.
      operationId: location_distance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - origin_lat
                - origin_long
                - destination_lat
                - destination_long
                - mode
              properties:
                origin_lat:
                  type: string
                  description: Latitude of the origin point
                  example: '33.7501275'
                origin_long:
                  type: string
                  description: Longitude of the origin point
                  example: '-84.3885209'
                destination_lat:
                  type: string
                  description: Latitude of the destination point
                  example: '40.7127753'
                destination_long:
                  type: string
                  description: Longitude of the destination point
                  example: '-74.0059728'
                mode:
                  type: string
                  description: Travel mode for distance calculation
                  example: driving
                  enum:
                    - driving
                    - walking
                    - bicycling
                    - transit
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      distance:
                        type: integer
                        description: Distance in meters
                        example: 1391308
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
  /common/location/directions:
    post:
      tags:
        - Places
      summary: Location Directions
      description: |
        Returns route directions between two coordinates with optional waypoints.
      operationId: location_directions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - origin_lat
                - origin_long
                - destination_lat
                - destination_long
                - mode
              properties:
                origin_lat:
                  type: string
                  description: Latitude of the origin point
                  example: '33.7501275'
                origin_long:
                  type: string
                  description: Longitude of the origin point
                  example: '-84.3885209'
                destination_lat:
                  type: string
                  description: Latitude of the destination point
                  example: '40.7127753'
                destination_long:
                  type: string
                  description: Longitude of the destination point
                  example: '-74.0059728'
                mode:
                  type: string
                  description: Travel mode for directions
                  example: driving
                  enum:
                    - driving
                    - walking
                    - bicycling
                    - transit
                waypoints:
                  type: string
                  description: Optional waypoints in format "lat1,long1|lat2,long2"
                  example: 40.7127753,-74.0059728
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      direction:
                        type: string
                        description: Encoded polyline string representing the route
                        example: gy~lEpcabOoxAqZelExw@wiGe_N{}Kc|NqvGuaS{rDwsGayDusBsbHatLe`Cm`TwnEaxTanE{mVmyHmnNkxKgoWmaNiiU_bNsc^uhJmvUc{CwoJkdAcjHqjAeeQojFkmP}dBahLcgDqwIgsIe_PotDukHi_HqiDemFy}BwmCeyE_nAofOkbE}hJiyBckCelAarEyjCqzKmgE}xM{_G_gHyuAo~D_~B_zCicBi~Co[{rLu|Ia_[{rCkjRmuDswQy{Ig`\swCmaIolFufIyoF}sQwDewEdwBwuGbl@yyYfkBamL}{AmiFuoBywIqhBufKk{OidKo}Cuz@weBa}Cu~B}{C_b@igE}fDakE{cFm|BcrCh~@coG{gB_cIodJmrFgzIszDqkGudE{tBcbEwsFcxAgjCce@{wI}hEcpOquD{sGqwBadIiiAijMcmG}kK{lCilFeuC_~AusFatEigEebJqqB_vK}`Ai`]sMw_]}]{`Pqc@w{NrJe~RfsCkwS~gBmpPh[uoGltAe|EyiBu_GakD{rHmlGwqFkuFg|CaiLmvImwGytIiwJw{MeaBwqRwzFkfOeiJebKoyMauOc|LesFw~LqrF_mOafEkzDifCe`AscF}fDkuImmFcaKe|A_zKmjKmbQ}oCs`F}iFaeD{eLw_PygJu{MiiCccCedH{cDuuB{o@q}@ctCXwsGw~Bs`EioDxRmuGgNokG~iA_nFvPy_C`nBm`Prn@wrHmEkwAcIup@t|AmrDlbD}lEcwCapMzh@kbVvt@mgKah@wjDd_@mhH`qBqaK|yBw}KdtAcfIxXu~TkaBscDx_BafFacAqvDmUmdBk_BcyFgoFklI{{EqdFwfAynFswC_pQmxLimI{sD{dBgsGw`Eu|@ehDgxD{wDku@e{AuTmt@qxAu|@ybOnn@i{Ji~BiFi`G__BosHgjKkaFqqDoiDqeAsjD}eCc_AuiB{tDghAcxD{eByeC_gColH}tIaqJmmH{aCubFekBmuC`O}rCkkAmzDgaAwoCytBsfBawFk}AgqEwxDafGorLoyIidMgkDoiPu`KgfR_yE_uF{fCqgLahEeuNy{CyuK~MuwKo]suV_tDiaMmqCopKrRitGvbBukLes@clKixBo_LkzFweNccJwkRurE_hKazBsjGcl@{_Gc~GcmKenGamIauJckP}{OoaTsjSwwZcvGsyKo{QogGifRytHelHo|Em|GkqMyuDa~Jq|GueEggPylLpkAciLk_Cm_E}}AyFsSilBlq@umDbd@zGrRmQ
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
  /common/currency/list:
    get:
      tags:
        - Currencies
      summary: List currencies
      operationId: currencies_list
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: |
                      Contains Currency code, Currency name pairs.
                    additionalProperties:
                      type: string
                    example:
                      AED: United Arab Emirates Dirham
                      AFN: Afghan Afghani
                      ALL: Albanian Lek
                      AMD: Armenian Dram
                      ANG: Netherlands Antillean Guilder
                      AOA: Angolan Kwanza
                      ARS: Argentine Peso
                      AUD: Australian Dollar
                      AWG: Aruban Florin
                      AZN: Azerbaijani Manat
                      BAM: Bosnia-Herzegovina Convertible Mark
                      BBD: Barbadian Dollar
                      BDT: Bangladeshi Taka
                      BGN: Bulgarian Lev
                      BHD: Bahraini Dinar
                      BIF: Burundian Franc
                      BMD: Bermudan Dollar
                      BND: Brunei Dollar
                      BOB: Bolivian Boliviano
                      BRL: Brazilian Real
                      BSD: Bahamian Dollar
                      BTC: Bitcoin
                      BTN: Bhutanese Ngultrum
                      BWP: Botswanan Pula
                      BYN: New Belarusian Ruble
                      BYR: Belarusian Ruble
                      BZD: Belize Dollar
                      CAD: Canadian Dollar
                      CDF: Congolese Franc
                      CHF: Swiss Franc
                      CLF: Chilean Unit of Account (UF)
                      CLP: Chilean Peso
                      CNY: Chinese Yuan
                      COP: Colombian Peso
                      CRC: Costa Rican Colón
                      CUC: Cuban Convertible Peso
                      CUP: Cuban Peso
                      CVE: Cape Verdean Escudo
                      CZK: Czech Republic Koruna
                      DJF: Djiboutian Franc
                      DKK: Danish Krone
                      DOP: Dominican Peso
                      DZD: Algerian Dinar
                      EGP: Egyptian Pound
                      ERN: Eritrean Nakfa
                      ETB: Ethiopian Birr
                      EUR: Euro
                      FJD: Fijian Dollar
                      FKP: Falkland Islands Pound
                      GBP: British Pound Sterling
                      GEL: Georgian Lari
                      GGP: Guernsey Pound
                      GHS: Ghanaian Cedi
                      GIP: Gibraltar Pound
                      GMD: Gambian Dalasi
                      GNF: Guinean Franc
                      GTQ: Guatemalan Quetzal
                      GYD: Guyanaese Dollar
                      HKD: Hong Kong Dollar
                      HNL: Honduran Lempira
                      HRK: Croatian Kuna
                      HTG: Haitian Gourde
                      HUF: Hungarian Forint
                      IDR: Indonesian Rupiah
                      ILS: Israeli New Sheqel
                      IMP: Manx pound
                      INR: Indian Rupee
                      IQD: Iraqi Dinar
                      IRR: Iranian Rial
                      ISK: Icelandic Króna
                      JEP: Jersey Pound
                      JMD: Jamaican Dollar
                      JOD: Jordanian Dinar
                      JPY: Japanese Yen
                      KES: Kenyan Shilling
                      KGS: Kyrgystani Som
                      KHR: Cambodian Riel
                      KMF: Comorian Franc
                      KPW: North Korean Won
                      KRW: South Korean Won
                      KWD: Kuwaiti Dinar
                      KYD: Cayman Islands Dollar
                      KZT: Kazakhstani Tenge
                      LAK: Laotian Kip
                      LBP: Lebanese Pound
                      LKR: Sri Lankan Rupee
                      LRD: Liberian Dollar
                      LSL: Lesotho Loti
                      LTL: Lithuanian Litas
                      LVL: Latvian Lats
                      LYD: Libyan Dinar
                      MAD: Moroccan Dirham
                      MDL: Moldovan Leu
                      MGA: Malagasy Ariary
                      MKD: Macedonian Denar
                      MMK: Myanma Kyat
                      MNT: Mongolian Tugrik
                      MOP: Macanese Pataca
                      MRO: Mauritanian Ouguiya
                      MUR: Mauritian Rupee
                      MVR: Maldivian Rufiyaa
                      MWK: Malawian Kwacha
                      MXN: Mexican Peso
                      MYR: Malaysian Ringgit
                      MZN: Mozambican Metical
                      NAD: Namibian Dollar
                      NGN: Nigerian Naira
                      NIO: Nicaraguan Córdoba
                      NOK: Norwegian Krone
                      NPR: Nepalese Rupee
                      NZD: New Zealand Dollar
                      OMR: Omani Rial
                      PAB: Panamanian Balboa
                      PEN: Peruvian Nuevo Sol
                      PGK: Papua New Guinean Kina
                      PHP: Philippine Peso
                      PKR: Pakistani Rupee
                      PLN: Polish Zloty
                      PYG: Paraguayan Guarani
                      QAR: Qatari Rial
                      RON: Romanian Leu
                      RSD: Serbian Dinar
                      RUB: Russian Ruble
                      RWF: Rwandan Franc
                      SAR: Saudi Riyal
                      SBD: Solomon Islands Dollar
                      SCR: Seychellois Rupee
                      SDG: Sudanese Pound
                      SEK: Swedish Krona
                      SGD: Singapore Dollar
                      SHP: Saint Helena Pound
                      SLL: Sierra Leonean Leone
                      SOS: Somali Shilling
                      SRD: Surinamese Dollar
                      STD: São Tomé and Príncipe Dobra
                      SVC: Salvadoran Colón
                      SYP: Syrian Pound
                      SZL: Swazi Lilangeni
                      THB: Thai Baht
                      TJS: Tajikistani Somoni
                      TMT: Turkmenistani Manat
                      TND: Tunisian Dinar
                      TOP: Tongan Paʻanga
                      TRY: Turkish Lira
                      TTD: Trinidad and Tobago Dollar
                      TWD: New Taiwan Dollar
                      TZS: Tanzanian Shilling
                      UAH: Ukrainian Hryvnia
                      UGX: Ugandan Shilling
                      USD: United States Dollar
                      UYU: Uruguayan Peso
                      UZS: Uzbekistan Som
                      VEF: Venezuelan Bolívar Fuerte
                      VND: Vietnamese Dong
                      VUV: Vanuatu Vatu
                      WST: Samoan Tala
                      XAF: CFA Franc BEAC
                      XAG: Silver (troy ounce)
                      XAU: Gold (troy ounce)
                      XCD: East Caribbean Dollar
                      XDR: Special Drawing Rights
                      XOF: CFA Franc BCEAO
                      XPF: CFP Franc
                      YER: Yemeni Rial
                      ZAR: South African Rand
                      ZMK: Zambian Kwacha (pre-2013)
                      ZMW: Zambian Kwacha
                      ZWL: Zimbabwean Dollar
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
  /common/currency/exchange_rate:
    get:
      tags:
        - Currencies
      summary: Get exchange rate
      description: |
        Get exchange rate for the given query
      operationId: currencies_exchange_rate
      parameters:
        - in: query
          name: from
          required: true
          schema:
            type: string
            example: INR
        - in: query
          name: to
          required: true
          schema:
            type: string
            example: USD
        - in: query
          name: date
          required: true
          schema:
            type: string
            example: '2021-11-18'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/exchange_rate_out'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
  /common/org_settings/org_logo_settings/generate_download_url:
    post:
      tags:
        - Org Logo
      summary: Generate URLs for org logo
      description: |
        Generate URLs for org logo file
      operationId: org_logo_generate_urls
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/logo_file_generate_download_url_action_out'
        '400':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://app.fylehq.com/app/developers/#/oauth/authorize
          tokenUrl: https://accounts.fylehq.com/oauth/token
          scopes:
            '*': Grant all actions
  schemas:
    '400':
      type: object
      properties:
        message:
          type: string
          nullable: true
          description: |
            Message describing why the request is invalid
    '401':
      type: object
      properties:
        message:
          enum:
            - invalid token
          type: string
          description: |
            This error means that the input access token is either not issued by Fyle or has expired.
            You need to generate a new access token.
    '404':
      type: object
      properties:
        message:
          enum:
            - Resource not found
          type: string
          description: |
            This error means the requested resource was not found or the requester doesn't have sufficient access.
    count:
      type: integer
      description: |
        The total number of objects that can be requested.
      example: 10000
    offset:
      description: |
        offset is used to skip that many number of objects before counting. <br>
        For example, if there are 2000 objects, <br>
        The first request will have offset as 0 and limit as 200 to return first 200 objects. <br>
        The second request will have offset as 200 and limit as 200 to return next 200 objects. <br>
      type: integer
      example: 10
    place_out_minimal:
      type: object
      properties:
        id:
          type: string
          maxLength: 255
          description: It containes a textual identifier that uniquely identifies a place.
          example: ChIJify3BTzI5zsR2q86fwXrh74
        formatted_address:
          type: string
          example: 221 Baker St, Marylebone, London, United Kingdom
    place_out:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          maxLength: 255
          description: It containes a textual identifier that uniquely identifies a place.
          example: ChIJify3BTzI5zsR2q86fwXrh74
        city:
          type: string
          example: London
        state:
          type: string
          example: London
        country:
          type: string
          example: United Kingdom
        formatted_address:
          type: string
          example: 221 Baker St, Marylebone, London, United Kingdom
        latitude:
          type: number
          example: 12.971599
        longitude:
          type: number
          example: 77.594566
    exchange_rate_out:
      type: object
      additionalProperties: false
      properties:
        exchange_rate:
          type: number
          example: 12.123456
    id_string:
      type: string
      maxLength: 15
      description: |
        This id is provided by Fyle to identify an object.
      example: sdfd2391
    logo_file_generate_download_url_action_out:
      type: object
      additionalProperties: false
      properties:
        id:
          $ref: '#/components/schemas/id_string'
        name:
          type: string
          description: |
            Name of the uploaded file.
          example: uber_expenses_vmrpw.pdf
        content_type:
          type: string
          example: image/png
        download_url:
          type: string
          description: |
            Link to download this file
