openapi: 3.0.3
info:
  version: '3.0'
  title: Common APIs
  description: |
    These APIs are common and used by every role.
  contact:
    name: Platform Beta
    email: support@fylehq.com
servers:
  - url: https://us1.fylehq.com/platform/v1
    description: US Region Server
  - url: https://in1.fylehq.com/platform/v1
    description: India Region Server
tags:
  - name: Currencies
    description: |
      These APIs gives you list of currencies supported by Sage Exp Mgmt and their exchange rates.
  - name: Places
    description: |
      These APIs gives the places suggestions and geographic data of a place.
  - name: Employees
    description: |
      These APIs gives you access to employee-related operations.
paths:
  /common/employees/approver_allowed:
    get:
      tags:
        - Employees
      summary: Check if Approver is Allowed
      description: |
        This API checks if a user is allowed to be an approver.
      operationId: employees_approver_allowed
      parameters:
        - in: query
          name: email
          required: true
          description: |
            The email address of the user to check.
          schema:
            type: string
            example: john.doe@example.com
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  data:
                    type: object
                    additionalProperties: false
                    properties:
                      is_approver_allowed:
                        type: boolean
                        description: |
                          Indicates whether the user is allowed to be an approver.
                        example: true
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
  /common/places/autocomplete:
    get:
      tags:
        - Places
      summary: Suggest places
      description: |
        Lists all the place suggestions based on given query.
      operationId: places_autocomplete
      parameters:
        - in: query
          name: q
          required: true
          description: |
            The query string on which to search. The service will return candidate matches
            based on this string and order results based on their perceived relevance.<br>

            q=bangalore
          schema:
            type: string
            example: bangalore
        - in: query
          name: types
          required: true
          description: |
            The types of place results to return.<br>

            Note the `()` which represents the collection of multiple types.<br>

            For more information click <a
            href='https://developers.google.com/places/web-service/supported_types#table3'>here</a>.<br>

            types=(cities)
          schema:
            type: string
            example: (cities)
            enum:
              - (cities)
              - (regions)
              - geocode
              - address
              - establishment
        - in: query
          name: current_location
          description: |
            This param specifies the point around which you wish to retrieve place
            information.<br>

            location=latitude,longitude
          schema:
            type: string
            example: 26.595889,85.4891037
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    $ref: '#/components/schemas/count'
                  offset:
                    $ref: '#/components/schemas/offset'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/place_out_minimal'
        '400':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
  /common/places:
    get:
      tags:
        - Places
      summary: List places
      description: |
        Lists all the place suggestions based on given query.
      operationId: places_list
      parameters:
        - in: query
          name: id
          required: true
          schema:
            type: string
            example: ChIJify3BTzI5zsR2q86fwXrh74
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    $ref: '#/components/schemas/count'
                  offset:
                    $ref: '#/components/schemas/offset'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/place_out'
        '400':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
  /common/currency/list:
    get:
      tags:
        - Currencies
      summary: List currencies
      operationId: currencies_list
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: |
                      Contains Currency code, Currency name pairs.
                    additionalProperties:
                      type: string
                    example:
                      AED: United Arab Emirates Dirham
                      AFN: Afghan Afghani
                      ALL: Albanian Lek
                      AMD: Armenian Dram
                      ANG: Netherlands Antillean Guilder
                      AOA: Angolan Kwanza
                      ARS: Argentine Peso
                      AUD: Australian Dollar
                      AWG: Aruban Florin
                      AZN: Azerbaijani Manat
                      BAM: Bosnia-Herzegovina Convertible Mark
                      BBD: Barbadian Dollar
                      BDT: Bangladeshi Taka
                      BGN: Bulgarian Lev
                      BHD: Bahraini Dinar
                      BIF: Burundian Franc
                      BMD: Bermudan Dollar
                      BND: Brunei Dollar
                      BOB: Bolivian Boliviano
                      BRL: Brazilian Real
                      BSD: Bahamian Dollar
                      BTC: Bitcoin
                      BTN: Bhutanese Ngultrum
                      BWP: Botswanan Pula
                      BYN: New Belarusian Ruble
                      BYR: Belarusian Ruble
                      BZD: Belize Dollar
                      CAD: Canadian Dollar
                      CDF: Congolese Franc
                      CHF: Swiss Franc
                      CLF: Chilean Unit of Account (UF)
                      CLP: Chilean Peso
                      CNY: Chinese Yuan
                      COP: Colombian Peso
                      CRC: Costa Rican Colón
                      CUC: Cuban Convertible Peso
                      CUP: Cuban Peso
                      CVE: Cape Verdean Escudo
                      CZK: Czech Republic Koruna
                      DJF: Djiboutian Franc
                      DKK: Danish Krone
                      DOP: Dominican Peso
                      DZD: Algerian Dinar
                      EGP: Egyptian Pound
                      ERN: Eritrean Nakfa
                      ETB: Ethiopian Birr
                      EUR: Euro
                      FJD: Fijian Dollar
                      FKP: Falkland Islands Pound
                      GBP: British Pound Sterling
                      GEL: Georgian Lari
                      GGP: Guernsey Pound
                      GHS: Ghanaian Cedi
                      GIP: Gibraltar Pound
                      GMD: Gambian Dalasi
                      GNF: Guinean Franc
                      GTQ: Guatemalan Quetzal
                      GYD: Guyanaese Dollar
                      HKD: Hong Kong Dollar
                      HNL: Honduran Lempira
                      HRK: Croatian Kuna
                      HTG: Haitian Gourde
                      HUF: Hungarian Forint
                      IDR: Indonesian Rupiah
                      ILS: Israeli New Sheqel
                      IMP: Manx pound
                      INR: Indian Rupee
                      IQD: Iraqi Dinar
                      IRR: Iranian Rial
                      ISK: Icelandic Króna
                      JEP: Jersey Pound
                      JMD: Jamaican Dollar
                      JOD: Jordanian Dinar
                      JPY: Japanese Yen
                      KES: Kenyan Shilling
                      KGS: Kyrgystani Som
                      KHR: Cambodian Riel
                      KMF: Comorian Franc
                      KPW: North Korean Won
                      KRW: South Korean Won
                      KWD: Kuwaiti Dinar
                      KYD: Cayman Islands Dollar
                      KZT: Kazakhstani Tenge
                      LAK: Laotian Kip
                      LBP: Lebanese Pound
                      LKR: Sri Lankan Rupee
                      LRD: Liberian Dollar
                      LSL: Lesotho Loti
                      LTL: Lithuanian Litas
                      LVL: Latvian Lats
                      LYD: Libyan Dinar
                      MAD: Moroccan Dirham
                      MDL: Moldovan Leu
                      MGA: Malagasy Ariary
                      MKD: Macedonian Denar
                      MMK: Myanma Kyat
                      MNT: Mongolian Tugrik
                      MOP: Macanese Pataca
                      MRO: Mauritanian Ouguiya
                      MUR: Mauritian Rupee
                      MVR: Maldivian Rufiyaa
                      MWK: Malawian Kwacha
                      MXN: Mexican Peso
                      MYR: Malaysian Ringgit
                      MZN: Mozambican Metical
                      NAD: Namibian Dollar
                      NGN: Nigerian Naira
                      NIO: Nicaraguan Córdoba
                      NOK: Norwegian Krone
                      NPR: Nepalese Rupee
                      NZD: New Zealand Dollar
                      OMR: Omani Rial
                      PAB: Panamanian Balboa
                      PEN: Peruvian Nuevo Sol
                      PGK: Papua New Guinean Kina
                      PHP: Philippine Peso
                      PKR: Pakistani Rupee
                      PLN: Polish Zloty
                      PYG: Paraguayan Guarani
                      QAR: Qatari Rial
                      RON: Romanian Leu
                      RSD: Serbian Dinar
                      RUB: Russian Ruble
                      RWF: Rwandan Franc
                      SAR: Saudi Riyal
                      SBD: Solomon Islands Dollar
                      SCR: Seychellois Rupee
                      SDG: Sudanese Pound
                      SEK: Swedish Krona
                      SGD: Singapore Dollar
                      SHP: Saint Helena Pound
                      SLL: Sierra Leonean Leone
                      SOS: Somali Shilling
                      SRD: Surinamese Dollar
                      STD: São Tomé and Príncipe Dobra
                      SVC: Salvadoran Colón
                      SYP: Syrian Pound
                      SZL: Swazi Lilangeni
                      THB: Thai Baht
                      TJS: Tajikistani Somoni
                      TMT: Turkmenistani Manat
                      TND: Tunisian Dinar
                      TOP: Tongan Paʻanga
                      TRY: Turkish Lira
                      TTD: Trinidad and Tobago Dollar
                      TWD: New Taiwan Dollar
                      TZS: Tanzanian Shilling
                      UAH: Ukrainian Hryvnia
                      UGX: Ugandan Shilling
                      USD: United States Dollar
                      UYU: Uruguayan Peso
                      UZS: Uzbekistan Som
                      VEF: Venezuelan Bolívar Fuerte
                      VND: Vietnamese Dong
                      VUV: Vanuatu Vatu
                      WST: Samoan Tala
                      XAF: CFA Franc BEAC
                      XAG: Silver (troy ounce)
                      XAU: Gold (troy ounce)
                      XCD: East Caribbean Dollar
                      XDR: Special Drawing Rights
                      XOF: CFA Franc BCEAO
                      XPF: CFP Franc
                      YER: Yemeni Rial
                      ZAR: South African Rand
                      ZMK: Zambian Kwacha (pre-2013)
                      ZMW: Zambian Kwacha
                      ZWL: Zimbabwean Dollar
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
  /common/currency/exchange_rate:
    get:
      tags:
        - Currencies
      summary: Get exchange rate
      description: |
        Get exchange rate for the given query
      operationId: currencies_exchange_rate
      parameters:
        - in: query
          name: from
          required: true
          schema:
            type: string
            example: INR
        - in: query
          name: to
          required: true
          schema:
            type: string
            example: USD
        - in: query
          name: date
          required: true
          schema:
            type: string
            example: '2021-11-18'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/exchange_rate_out'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
  /common/org_settings/org_logo_settings/generate_download_url:
    post:
      tags:
        - Org Logo
      summary: Generate URLs for org logo
      description: |
        Generate URLs for org logo file
      operationId: org_logo_generate_urls
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/logo_file_generate_download_url_action_out'
        '400':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://app.fylehq.com/app/developers/#/oauth/authorize
          tokenUrl: https://accounts.fylehq.com/oauth/token
          scopes:
            '*': Grant all actions
  schemas:
    '400':
      type: object
      properties:
        message:
          type: string
          nullable: true
          description: |
            Message describing why the request is invalid
    '401':
      type: object
      properties:
        message:
          enum:
            - invalid token
          type: string
          description: |
            This error means that the input access token is either not issued by Sage Exp Mgmt or has expired.
            You need to generate a new access token.
    '404':
      type: object
      properties:
        message:
          enum:
            - Resource not found
          type: string
          description: |
            This error means the requested resource was not found or the requester doesn't have sufficient access.
    count:
      type: integer
      description: |
        The total number of objects that can be requested.
      example: 10000
    offset:
      description: |
        offset is used to skip that many number of objects before counting. <br>
        For example, if there are 2000 objects, <br>
        The first request will have offset as 0 and limit as 200 to return first 200 objects. <br>
        The second request will have offset as 200 and limit as 200 to return next 200 objects. <br>
      type: integer
      example: 10
    place_out_minimal:
      type: object
      properties:
        id:
          type: string
          maxLength: 255
          description: It containes a textual identifier that uniquely identifies a place.
          example: ChIJify3BTzI5zsR2q86fwXrh74
        formatted_address:
          type: string
          example: 221 Baker St, Marylebone, London, United Kingdom
    place_out:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          maxLength: 255
          description: It containes a textual identifier that uniquely identifies a place.
          example: ChIJify3BTzI5zsR2q86fwXrh74
        city:
          type: string
          example: London
        state:
          type: string
          example: London
        country:
          type: string
          example: United Kingdom
        formatted_address:
          type: string
          example: 221 Baker St, Marylebone, London, United Kingdom
        latitude:
          type: number
          example: 12.971599
        longitude:
          type: number
          example: 77.594566
    exchange_rate_out:
      type: object
      additionalProperties: false
      properties:
        exchange_rate:
          type: number
          example: 12.123456
    id_string:
      type: string
      maxLength: 15
      description: |
        This id is provided by Sage Exp Mgmt to identify an object.
      example: sdfd2391
    logo_file_generate_download_url_action_out:
      type: object
      additionalProperties: false
      properties:
        id:
          $ref: '#/components/schemas/id_string'
        name:
          type: string
          description: |
            Name of the uploaded file.
          example: uber_expenses_vmrpw.pdf
        content_type:
          type: string
          example: image/png
        download_url:
          type: string
          description: |
            Link to download this file
