openapi: 3.0.3
info:
  version: '1.0'
  title: Owner APIs
  termsOfService: https://www.fylehq.com/privacy/terms-and-conditions
  description: |
    These APIs are used by applications for Owner operations - creating sub-orgs or updating, resetting, deleting an organisation.
  contact:
    name: Platform Beta
    email: support@fylehq.com
servers:
  - url: https://us1.fylehq.com/platform/v1
    description: US Region Server
  - url: https://in1.fylehq.com/platform/v1
    description: India Region Server
tags:
  - name: Organisations
    description: |
      These APIs gives you access to manage organisations.
  - name: Employees
    description: |
      These APIs gives you access to manage employees.
  - name: Org Subscriptions
    description: |
      These APIs gives you access to view organisation subscription details.
paths:
  /owner/org_subscriptions:
    get:
      tags:
        - Org Subscriptions
      summary: List Organisation Subscriptions
      operationId: org_subscriptions_list
      description: |
        This API returns the organisation subscription details of the organisation.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  count:
                    $ref: '#/components/schemas/count'
                  offset:
                    $ref: '#/components/schemas/offset'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/org_subscription_out'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403'
    post:
      tags:
        - Org Subscriptions
      summary: Update Organisation Subscription
      operationId: org_subscriptions_update
      description: |
        This API updates the organisation subscription plan.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                data:
                  $ref: '#/components/schemas/org_subscription_in'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  data:
                    $ref: '#/components/schemas/org_subscription_out'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403'
  /owner/org_subscriptions/stripe/invoices:
    get:
      tags:
        - Org Subscriptions
      summary: List Stripe Invoices
      operationId: org_subscriptions_stripe_invoices_list
      description: |
        This API returns the Stripe invoices for the organisation.
      parameters:
        - name: year
          in: query
          required: false
          schema:
            type: integer
          description: |
            Filter invoices by year.
          example: 2024
        - name: status
          in: query
          required: false
          schema:
            type: string
          description: |
            Filter invoices by status.
          example: paid
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 100
          description: |
            Maximum number of invoices to return.
          example: 100
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  data:
                    type: array
                    description: |
                      List of Stripe invoice objects.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: |
                            Unique identifier for the invoice.
                          example: in_1ABC123def456
                        number:
                          type: string
                          nullable: true
                          description: |
                            A unique, identifying string for the invoice.
                          example: INV-0001
                        created:
                          type: string
                          description: |
                            Time at which the invoice was created.
                          example: '2020-02-06T07:09:52+00:00'
                        total:
                          type: number
                          description: |
                            Total invoice amount
                          example: 899
                        currency:
                          type: string
                          description: |
                            Three-letter ISO currency code.
                          example: usd
                        invoice_pdf:
                          type: string
                          nullable: true
                          description: |
                            The link to download the PDF for the invoice.
                          example: https://pay.stripe.com/invoice/acct_123/inv_456/pdf
                        status:
                          type: string
                          nullable: true
                          description: |
                            The status of the invoice.
                          example: paid
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403'
  /owner/org_subscriptions/stripe/token_created:
    post:
      tags:
        - Org Subscriptions
      summary: Add Payment Source Token
      operationId: org_subscriptions_stripe_token_created
      description: |
        This API updates the Stripe customer with a new payment source (card token).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                data:
                  type: object
                  additionalProperties: false
                  required:
                    - token
                  properties:
                    token:
                      type: string
                      description: |
                        The Stripe token for the payment source.
                      example: token_133131
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  data:
                    $ref: '#/components/schemas/org_subscription_out'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403'
  /owner/orgs:
    post:
      tags:
        - Organisations
      summary: Update Organisation
      operationId: orgs_upsert
      description: |
        This endpoint allows you to create a new sub-organisation or update an existing one.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                id:
                  type: string
                  description: |
                    The unique identifier of the organisation to update. 
                  example: orwruogwnngg
                currency:
                  type: string
                  description: |
                    The currency code for the organisation. This field is mandatory when creating a new org.
                  example: USD
                name:
                  type: string
                  maxLength: 255
                  description: |
                    The name of the organisation. This field is mandatory when creating a new org.
                  example: Demo Account
                domain:
                  type: string
                  maxLength: 255
                  description: |
                    The domain with which the organisation is registered. This field is mandatory when creating a new org. And it cannot be updated for existing orgs.
                  example: example.com
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/post_org_out'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403'
  /owner/orgs/reset:
    post:
      tags:
        - Organisations
      summary: Reset an organisation
      description: |
        This API performs a reset of an organisation. This will delete the data like expenses, reports, files, advances, reimbursements, etc. and reset the organisation to a clean state.
        - **_Note:_** This API doesn't delete any settings or configurations _(Even employees that were invited aren't deleted)_.
      operationId: orgs_reset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - data
              properties:
                data:
                  $ref: '#/components/schemas/org_reset_delete_in'
                reason:
                  type: string
                  description: |
                    Reason for resetting the organisation.
                  example: Cleaning up Sandbox Account
      responses:
        '200':
          description: The Organisation has been scheduled for reset successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
  /owner/orgs/delete:
    post:
      tags:
        - Organisations
      summary: Delete an organisation
      description: |
        This API will delete the organisation and all the data like expenses, reports, files, advances, reimbursements, etc. associated with the organisation permanently.
        - **_Note:_** **This action is irreversible.**
      operationId: orgs_delete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - data
              properties:
                data:
                  $ref: '#/components/schemas/org_reset_delete_in'
                reason:
                  type: string
                  description: |
                    Reason for deleting the organisation.
                  example: Deleting Sandbox Account
      responses:
        '200':
          description: The Organisation has been scheduled for deletion successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
  /owner/employees/change_owner:
    post:
      tags:
        - Employees
      summary: Change Owner of an Org
      description: |
        This API allows transferring ownership of an organisation to an admin.
      operationId: employees_change_owner
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - data
              properties:
                data:
                  $ref: '#/components/schemas/employee_change_owner_in'
      responses:
        '200':
          description: OK
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://app.fylehq.com/app/developers/#/oauth/authorize
          tokenUrl: https://accounts.fylehq.com/oauth/token
          scopes:
            '*': Grant all actions
  schemas:
    '400':
      type: object
      properties:
        message:
          type: string
          nullable: true
          description: |
            Message describing why the request is invalid
    '401':
      type: object
      properties:
        message:
          enum:
            - invalid token
          type: string
          description: |
            This error means that the input access token is either not issued by Sage Exp Mgmt or has expired.
            You need to generate a new access token.
    '403':
      type: object
      properties:
        message:
          enum:
            - Forbidden
          type: string
          description: |
            This error means current user does not have enough permissions to perform this operation.
    '404':
      type: object
      properties:
        message:
          enum:
            - Resource not found
          type: string
          description: |
            This error means the requested resource was not found or the requester doesn't have sufficient access.
    count:
      type: integer
      description: |
        The total number of objects that can be requested.
      example: 10000
    offset:
      description: |
        offset is used to skip that many number of objects before counting. <br>
        For example, if there are 2000 objects, <br>
        The first request will have offset as 0 and limit as 200 to return first 200 objects. <br>
        The second request will have offset as 200 and limit as 200 to return next 200 objects. <br>
      type: integer
      example: 10
    id_integer:
      type: integer
      description: |
        This id is provided by Sage Exp Mgmt to identify an object.
      example: 1234
    org_id:
      type: string
      description: |
        The unique id of the Organization to which the object is associated.
      readOnly: true
      example: orwruogwnngg
    email:
      type: string
      maxLength: 127
      example: john.doe@example.com
      description: |
        An immutable field that represents the email address of the employee.
        Must be compliant with <a href='https://www.ietf.org/rfc/rfc822.txt'>RFC 822.</a>
    created_at:
      type: string
      format: date-time
      description: |
        Signifies when this object was created in [ISO8601 format](https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#anchor14).
      example: '2020-06-01T13:14:54.804+00:00'
    updated_at:
      type: string
      format: date-time
      description: |
        Signifies when this object was updated in [ISO8601 format](https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#anchor14).
      example: '2020-06-11T13:14:55.201598+00:00'
    org_subscription_out:
      type: object
      additionalProperties: false
      properties:
        id:
          $ref: '#/components/schemas/id_integer'
        org_id:
          $ref: '#/components/schemas/org_id'
        plan:
          type: string
          nullable: true
          description: |
            The subscription plan of the organisation.
          example: Business_Annually_v5
        email:
          nullable: true
          $ref: '#/components/schemas/email'
        stripe_customer_id:
          type: string
          nullable: true
          description: |
            The Stripe customer ID associated with the organisation's subscription.
          example: cus_aauLopkjO5orApjbxs274
        trial_start_dt:
          type: string
          format: date-time
          nullable: true
          description: |
            The start date-time of the trial period in [ISO8601 format](https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#anchor14).
          example: '2020-02-06T07:09:52.332000+00:00'
        trial_end_dt:
          type: string
          format: date-time
          nullable: true
          description: |
            The end date-time of the trial period in [ISO8601 format](https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#anchor14).
          example: '2020-02-06T07:12:27.196000+00:00'
        card_added:
          type: boolean
          nullable: true
          description: |
            Indicates whether a payment card has been added to the subscription.
          example: null
        card_added_at:
          type: string
          format: date-time
          nullable: true
          description: |
            The date-time when the payment card was added in [ISO8601 format](https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#anchor14).
          example: null
        card_removed_at:
          type: string
          format: date-time
          nullable: true
          description: |
            The date-time when the payment card was removed in [ISO8601 format](https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#anchor14).
          example: null
        created_at:
          $ref: '#/components/schemas/created_at'
        updated_at:
          $ref: '#/components/schemas/updated_at'
    org_subscription_in:
      type: object
      additionalProperties: false
      required:
        - id
        - plan
      properties:
        id:
          type: integer
          description: |
            The unique identifier of the organisation subscription to update.
          example: 2411
        plan:
          type: string
          description: |
            The subscription plan to set for the organisation.
          example: Business_Annually_v5
    currency:
      type: string
      description: |
        The three-letter currency code following ISO standard <a href='https://www.iso.org/iso-4217-currency-codes.html'>ISO 4217</a>.
      example: USD
      pattern: ([A-Z]{3})
    post_org_out:
      type: object
      additionalProperties: false
      required:
        - id
        - name
        - domain
        - is_verified
        - currency
        - created_at
        - updated_at
      properties:
        id:
          $ref: '#/components/schemas/org_id'
        name:
          type: string
          maxLength: 255
          description: Represents the name of the org.
          example: Demo Account
        domain:
          type: string
          maxLength: 255
          description: This field specifies the domain with which the organisation is registered.
          example: example.com
        currency:
          $ref: '#/components/schemas/currency'
        created_at:
          $ref: '#/components/schemas/created_at'
        updated_at:
          $ref: '#/components/schemas/updated_at'
        is_verified:
          type: boolean
          nullable: false
          description: |
            Determines whether this organization has been verified.
    org_reset_delete_in:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          description: |
            The unique id of the Organization to which the object is associated.
          example: orwruogwnngg
    id_string:
      type: string
      maxLength: 15
      description: |
        This id is provided by Sage Exp Mgmt to identify an object.
      example: sdfd2391
    employee_change_owner_in:
      type: object
      properties:
        target_employee_id:
          allOf:
            - $ref: '#/components/schemas/id_string'
          example: ouabcdefghij
      required:
        - target_employee_id
