openapi: 3.0.3
info:
  version: '1.0'
  title: Owner APIs
  termsOfService: 'https://www.fylehq.com/privacy/terms-and-conditions'
  description: |
    These APIs are used by applications for Owner operations - creating sub-orgs or updating, resetting, deleting an organisation.
  contact:
    name: Platform Beta
    email: support@fylehq.com
servers:
  - url: 'https://us1.fylehq.com/platform/v1'
    description: US Region Server
  - url: 'https://in1.fylehq.com/platform/v1'
    description: India Region Server
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: 'https://app.fylehq.com/app/developers/#/oauth/authorize'
          tokenUrl: 'https://accounts.fylehq.com/oauth/token'
          scopes:
            '*': 'Grant all actions'
tags:
  - name: Organisations
    description: >
      These APIs gives you access to manage organisations.

  - name: Employees
    description: >
      These APIs gives you access to manage employees.

  - name: Org Subscriptions
    description: >
      These APIs gives you access to view organisation subscription details.

paths:
  /owner/org_subscriptions:
    $ref: paths/owner@org_subscriptions.yaml
  /owner/org_subscriptions/stripe/invoices:
    $ref: paths/owner@org_subscriptions@stripe@invoices.yaml
  /owner/org_subscriptions/stripe/token_created:
    $ref: paths/owner@org_subscriptions@stripe@token_created.yaml

  /owner/orgs:
    $ref: paths/owner@orgs.yaml

  /owner/orgs/reset:
    $ref: paths/owner@orgs@reset.yaml

  /owner/orgs/delete:
    $ref: paths/owner@orgs@delete.yaml

  /owner/employees/change_owner:
    $ref: paths/owner@employees@change_owner.yaml