openapi: 3.0.3
info:
  version: '1.0'
  title: Admin APIs
  description: Fyle Platform Admin APIs
  contact:
    name: Integrations
    email: support@fylehq.com
servers:
  - url: 'https://hulk.fyle.tech/platform/v1'
    description: Staging Server
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: 'https://accounts.fylehq.com/app/developers/#/oauth/authorize'
          tokenUrl: 'https://accounts.fylehq.com/oauth/token'
          scopes:
            '*': 'Grant all actions'
tags:
  - name: Projects
    description: |
      These APIs gives you access to manage your organisation's Projects
  - name: Cost Centers
    description: >
      These APIs gives you access to manage your organisation's Cost Centers
      data.
  - name: Per Diem Rates
    description: |
      These APIs gives you access to manage your organisation's Per Diem Rates
  - name: Departments
    description: |
      These APIs gives you access to manage your organisation's Departments
  - name: Categories
    description: |
      These APIs gives you access to manage your organisation's Categories
  - name: Mileage Rates
    description: |
      These APIs gives you access to manage your organisation's Mileage Rates
  - name: Levels
    description: |
      These APIs gives you access to manage your organisation's Employee levels.
  - name: Employees
    description: |
      These APIs gives you access to manage your organisation's Employees
  - name: Expenses
    description: |
      This API gives you access to your organisation's Expenses
  # - name: Reports
  #   description: |
  #     This API gives you access to your organisation's Expense Reports
  # - name: Advances
  #   description: |
  #     This API gives you access to Issued Advances data of your organisation.
  # - name: Reimbursements
  #   description: >
  #     These APIs gives you access to manage your organisation's Reimbursements
  #     data.
  # - name: Refunds
  #   description: |
  #     These APIs gives you access to manage your organisation's Refunds data.
  # - name: Settlements
  #   description: >
  #     These APIs gives you access to manage your organisation's Settlements
  #     data.
  # - name: Balance Transfers
  #   description: >
  #     These APIs gives you access to manage your organisation's Balance
  #     Transfers data.
paths:
  /admin/projects:
    $ref: paths/admin@projects.yaml
  /admin/cost_centers:
    $ref: paths/admin@cost_centers.yaml
  /admin/categories:
    $ref: paths/admin@categories.yaml
  /admin/expense_fields:
    $ref: paths/admin@expense_fields.yaml
  /admin/per_diem_rates:
    $ref: paths/admin@per_diem_rates.yaml
  /admin/departments:
    $ref: paths/admin@departments.yaml
  /admin/mileage_rates:
    $ref: paths/admin@mileage_rates.yaml
  /admin/levels:
    $ref: paths/admin@levels.yaml
  /admin/employees:
    $ref: paths/admin@employees.yaml
  /admin/employee_approvers:
    $ref: paths/admin@employee_approvers.yaml
  # /admin/expenses:
  #   $ref: paths/admin@expenses.yaml

  # /admin/reports:
  #   $ref: paths/admin@reports.yaml
  # /admin/advance_requests:
  #   $ref: paths/admin@advance_requests.yaml
  # /admin/advances:
  #   $ref: paths/admin@advances.yaml
  # /admin/reimbursements:
  #   $ref: paths/admin@reimbursements.yaml
  # /admin/refunds:
  #   $ref: paths/admin@refunds.yaml
  # /admin/settlements:
  #   $ref: paths/admin@settlements.yaml
  # /admin/balance_transfers:
  #   $ref: paths/admin@balance_transfers.yaml
