openapi: 3.0.3
info:
  version: '1.0'
  title: Admin APIs
  description: |
    These APIs are generally used to integrate Fyle with accounting or HRMS systems. 
  contact:
    name: Platform Beta
    email: support@fylehq.com
servers:
  - url: 'https://us1.fylehq.com/platform/v1'
    description: US Region Server
  - url: 'https://in1.fylehq.com/platform/v1'
    description: India Region Server
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: 'https://app.fylehq.com/app/developers/#/oauth/authorize'
          tokenUrl: 'https://accounts.fylehq.com/oauth/token'
          scopes:
            '*': 'Grant all actions'
  schemas:
    ExpenseActionDeleteId:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the expense to be deleted.
          example: "txm3L9soGEt2"
      required:
        - id
tags:

  - name: Accounting Exports
    description: |
      This API allows you to record export of Fyle resources to an external accounting exports
  - name: Accounts
    description: |
      This APIs gives access to your Employees's accounts data.
  #  - name: Adjustments
  #    description: >
  #      This API gives you access to manage your organisation's Adjustments data.
  - name: Advances
    description: |
      This API gives you access to manage your organisation's Advances data.
  - name: Automations
    description: |
      This API gives you access to automate your organisation's manual work.
  - name: Budgets
    description: |
      This API gives you access to Budgets.
  - name: Categories
    description: |
      These APIs gives you access to manage your organisation's Categories
  - name: Corporate Cards
    description: |
      This API gives you access to manage your organisation's Corporate Cards data.
  - name: Corporate Card Transactions
    description: |
      This API gives you access to manage your organisation's Corporate Card Transaction data.
  - name: Cost Centers
    description: >
      These APIs gives you access to manage your organisation's Cost Centers
      data.
  - name: Departments
    description: |
      These APIs gives you access to manage your organisation's Departments
  - name: Employees
    description: |
      These APIs gives you access to manage your organisation's Employees
  - name: Expenses
    description: |
      This API gives you access to your organisation's Expenses
  - name: Expense Policies
    description: |
      This API gives you access to your organisation's Expense Policies
  - name: Expense Rules
    description: |
      This API gives you access to your organisation's Expense Rules
  - name: Files
    description: |
      This API gives you access to creates a file in Fyle
  - name: Levels
    description: |
      These APIs gives you access to manage your organisation's Employee levels.
  - name: Mileage Rates
    description: |
      These APIs gives you access to manage your organisation's Mileage Rates
  - name: Per Diem Rates
    description: |
      These APIs gives you access to manage your organisation's Per Diem Rates
  - name: Projects
    description: |
      These APIs gives you access to manage your organisation's Projects
  - name: Reimbursements
    description: |
      These APIs gives you access to manage your organisation's Reimbursements
      data
  - name: Reminders
    description: |
      These APIs gives you access to manage your organisation's Reminders data
  - name: Reports
    description: |
      These APIs gives you access to manage your organisation's Reports data
  - name: Schedules
    description: |
      This API gives you access to manage Scheduled jobs.
  - name: Settlements
    description: >
      This API gives you access to manage your organisation's Settlements data.
  - name: Tax Groups
    description: >
      These APIs gives you access to manage your organisation's Tax Groups data.
  - name: Organisations
    description: >
      These APIs gives you access to manage organisations.
  - name: Statements
    description: >
      These APIs gives you access to add / view a bank statement for reconciliation.
  - name: Statement mappings
    description: >
      These APIs gives you access to manage statement mappings which is used for statement uploads.
  - name: Feature Configs
    description: >
      These APIs gives you access to manage feature configs.
  - name: Merchants
    description: |
      This API gives you access to merchants, primarily to help with autocomplete.
  - name: Expense Policy Comments
    description: |
      This API gives you access to manage expense policy comments.
  # - name: Suggestions
  #   description: |
  #     This API gives you access to Expense/Card Transactions Suggestions.

paths:
  /admin/projects:
    $ref: paths/admin@projects.yaml
  /admin/projects/bulk:
    $ref: paths/admin@projects@bulk.yaml
  /admin/projects/delete/bulk:
    $ref: paths/admin@projects@delete@bulk.yaml
  /admin/projects/delete_summary/bulk:
    $ref: paths/admin@projects@delete_summary@bulk.yaml
  /admin/cost_centers:
    $ref: paths/admin@cost_centers.yaml
  /admin/cost_centers/bulk:
    $ref: paths/admin@cost_centers@bulk.yaml
  /admin/categories:
    $ref: paths/admin@categories.yaml
  /admin/categories/bulk:
    $ref: paths/admin@categories@bulk.yaml
  /admin/categories/delete/bulk:
    $ref: paths/admin@categories@delete@bulk.yaml
  /admin/categories/delete_summary/bulk:
    $ref: paths/admin@categories@delete_summary@bulk.yaml
  /admin/categories/system_categories:
    $ref: paths/admin@categories@system_categories.yaml
  /admin/expense_fields:
    $ref: paths/admin@expense_fields.yaml
  /admin/dependent_expense_field_values:
    $ref: paths/admin@dependent_expense_field_values.yaml
  /admin/dependent_expense_field_values/bulk:
    $ref: paths/admin@dependent_expense_field_values@bulk.yaml
  /admin/dependent_expense_field_values/preview:
    $ref: paths/admin@dependent_expense_field_values@preview.yaml
  /admin/dependent_expense_field_values/uploads:
    $ref: paths/admin@dependent_expense_field_values@uploads.yaml
  /admin/dependent_expense_field_values/downloads:
    $ref: paths/admin@dependent_expense_field_values@downloads.yaml
  /admin/employee_fields:
    $ref: paths/admin@employee_fields.yaml
  /admin/per_diem_rates:
    $ref: paths/admin@per_diem_rates.yaml
  /admin/per_diem_rates/bulk:
    $ref: paths/admin@per_diem_rates@bulk.yaml
  /admin/departments:
    $ref: paths/admin@departments.yaml
  /admin/mileage_rates:
    $ref: paths/admin@mileage_rates.yaml
  /admin/levels:
    $ref: paths/admin@levels.yaml
  /admin/employees:
    $ref: paths/admin@employees.yaml
  /admin/employees/potential_duplicate_expenses:
    $ref: paths/admin@employees@potential_duplicate_expenses.yaml
  /admin/employees/business_units:
    $ref: paths/admin@employees@business_units.yaml
  /admin/employees/exports:
    $ref: paths/admin@employees@exports.yaml
  /admin/employees/titles:
    $ref: paths/admin@employees@titles.yaml
  /admin/employees/locations:
    $ref: paths/admin@employees@locations.yaml
  /admin/employees/invite/bulk:
    $ref: paths/admin@employees@invite@bulk.yaml
  /admin/employees/reinvite/bulk:
    $ref: paths/admin@employees@reinvite@bulk.yaml
  /admin/employees/filters:
    $ref: paths/admin@employees@filters.yaml
  /admin/employees/filters/delete:
    $ref: paths/admin@employees@filters@delete.yaml
  /admin/employees/uploads:
    $ref: paths/admin@employees@uploads.yaml
  /admin/employees/downloads:
    $ref: paths/admin@employees@downloads.yaml
  /admin/employees/summaries:
    $ref: paths/admin@employees@summaries.yaml
  /admin/files:
    $ref: paths/admin@files.yaml
  /admin/files/bulk:
    $ref: paths/admin@files@bulk.yaml
  /admin/files/generate_urls/bulk:
    $ref: paths/admin@files@generate_urls@bulk.yaml
  /admin/files/delete/bulk:
    $ref: paths/admin@files@delete@bulk.yaml
  /admin/files/download:
    $ref: paths/admin@files@download.yaml
  /admin/automations/report_submissions:
    $ref: paths/admin@automations@report_submissions.yaml
  /admin/automations/report_submissions/delete:
    $ref: paths/admin@automations@report_submissions@delete.yaml
  /admin/accounting_exports:
    $ref: paths/admin@accounting_exports.yaml
  /admin/accounting_export_lineitems:
    $ref: paths/admin@accounting_export_lineitems.yaml
  /admin/accounting_export_lineitems/bulk:
    $ref: paths/admin@accounting_export_lineitems@bulk.yaml
  /admin/expenses:
    $ref: paths/admin@expenses.yaml
  /admin/expenses/attach_files/bulk :
    $ref: paths/admin@expenses@attach_files@bulk.yaml
  /admin/expenses/accounting_export_summary/bulk:
    $ref: paths/admin@expenses@accounting_export_summary@bulk.yaml
  /admin/expenses/filters:
    $ref: paths/admin@expenses@filters.yaml
  /admin/expenses/filters/delete:
    $ref: paths/admin@expenses@filters@delete.yaml
  /admin/expenses/verify/bulk:
    $ref: paths/admin@expenses@verify@bulk.yaml
  /admin/expenses/stats:
    $ref: paths/admin@expenses@stats.yaml
  /admin/expenses/exports:
    $ref: paths/admin@expenses@exports.yaml
  /admin/expenses/permissions:
    $ref: paths/admin@expenses@permissions.yaml
  /admin/expenses/merge:
    $ref: paths/admin@expenses@merge.yaml
  /admin/advance_requests:
    $ref: paths/admin@advance_requests.yaml
  /admin/advance_requests/stats:
    $ref: paths/admin@advance_requests@stats.yaml
  /admin/advance_requests/permissions:
    $ref: paths/admin@advance_requests@permissions.yaml
  /admin/advance_requests/comments:
    $ref: paths/admin@advance_requests@comments.yaml
  /admin/advances:
    $ref: paths/admin@advances.yaml
  /admin/advances/bulk:
    $ref: paths/admin@advances@bulk.yaml
  /admin/advances/stats:
    $ref: paths/admin@advances@stats.yaml
  /admin/advance_wallets:
    $ref: paths/admin@advance_wallets.yaml
  /admin/advance_refunds:
    $ref: paths/admin@advance_refunds.yaml
  /admin/advance_refunds/bulk:
    $ref: paths/admin@advance_refunds@bulk.yaml
  /admin/advance_refunds/stats:
    $ref: paths/admin@advance_refunds@stats.yaml
  /admin/reminders:
    $ref: paths/admin@reminders.yaml
  /admin/reminders/delete:
    $ref: paths/admin@reminders@delete.yaml
  /admin/reports:
    $ref: paths/admin@reports.yaml
  /admin/reports/eject_expenses:
    $ref: 'paths/admin@reports@eject_expenses.yaml'
  /admin/reports/filters:
    $ref: 'paths/admin@reports@save_filters.yaml'
  /admin/reports/filters/delete:
    $ref: 'paths/admin@reports@delete_filter.yaml'
  /admin/reports/comments:
    $ref: 'paths/admin@reports@comments.yaml'
  /admin/reports/add_approver:
    $ref: 'paths/admin@reports@add_approver.yaml'
  /admin/reports/remove_approver:
    $ref: 'paths/admin@reports@remove_approver.yaml'
  /admin/reports/approve/bulk:
    $ref: 'paths/admin@reports@admin_approve@bulk.yaml'
  /admin/reports/send_back:
    $ref: 'paths/admin@reports@send_back.yaml'
  /admin/reports/process_ach/bulk:
    $ref: paths/admin@reports@process_ach@bulk.yaml
  /admin/reports/mark_paid/bulk:
    $ref: paths/admin@reports@mark_paid@bulk.yaml
  /admin/reports/process_manual/bulk:
    $ref: paths/admin@reports@process_manual@bulk.yaml
  /admin/reports/process_summary/bulk:
    $ref: paths/admin@reports@process_summary@bulk.yaml
  /admin/reports/accounting_export_summary/bulk:
    $ref: paths/admin@reports@accounting_export_summary@bulk.yaml
  /admin/reports/stats:
    $ref: paths/admin@reports@stats.yaml
  /admin/reports/create_and_submit:
    $ref: paths/admin@reports@create_and_submit.yaml
  /admin/reports/permissions:
    $ref: paths/admin@reports@permissions.yaml
  /admin/reports/apply_advance_wallets:
    $ref: paths/admin@reports@apply_advance_wallets.yaml
  /admin/reports/remove_advance_wallets:
    $ref: paths/admin@reports@remove_advance_wallets.yaml
  /admin/reports/round_off_amount:
    $ref: paths/admin@reports@round_off_amount.yaml
  /admin/reports/exports:
    $ref: paths/admin@reports@exports.yaml
  /admin/corporate_cards:
    $ref: paths/admin@corporate_cards.yaml
  /admin/corporate_cards/bulk:
    $ref: paths/admin@corporate_cards@bulk.yaml
  /admin/corporate_cards/bank_names:
    $ref: paths/admin@corporate_cards@bank_names.yaml
  /admin/corporate_cards/masked_card_numbers:
    $ref: paths/admin@corporate_cards@masked_card_numbers.yaml
  /admin/corporate_cards/stats:
    $ref: paths/admin@corporate_cards@stats.yaml
  /admin/corporate_cards/assign:
    $ref: paths/admin@corporate_cards@assign.yaml
  /admin/corporate_cards/unassign:
    $ref: paths/admin@corporate_cards@unassign.yaml
  /admin/corporate_cards/reassign:
    $ref: paths/admin@corporate_cards@reassign.yaml
  /admin/corporate_cards/delete:
    $ref: paths/admin@corporate_cards@delete.yaml

  /admin/corporate_card_transactions:
    $ref: paths/admin@corporate_card_transactions.yaml
  /admin/corporate_card_transactions/bulk:
    $ref: paths/admin@corporate_card_transactions@bulk.yaml
  /admin/corporate_card_transactions/stats:
    $ref: paths/admin@corporate_card_transactions@stats.yaml
  /admin/corporate_card_transactions/delete_summary/bulk:
    $ref: paths/admin@corporate_card_transactions@delete_summary@bulk.yaml
  /admin/corporate_card_transactions/delete:
    $ref: paths/admin@corporate_card_transactions@delete.yaml
  /admin/corporate_card_transactions/filters:
    $ref: paths/admin@corporate_card_transactions@filters.yaml
  /admin/corporate_card_transactions/filters/delete:
    $ref: paths/admin@corporate_card_transactions@filters@delete.yaml

  /admin/corporate_card_transactions/assign:
    $ref: paths/admin@corporate_card_transactions@assign.yaml
  /admin/corporate_card_transactions/assign/bulk:
    $ref: paths/admin@corporate_card_transactions@assign@bulk.yaml
  /admin/corporate_card_transactions/reassign/bulk:
    $ref: paths/admin@corporate_card_transactions@reassign@bulk.yaml
  /admin/corporate_card_transactions/unassign:
    $ref: paths/admin@corporate_card_transactions@unassign.yaml
  #  /admin/corporate_card_transactions/unassign/bulk:
  #    $ref: paths/admin@corporate_card_transactions@unassign@bulk.yaml
  /admin/corporate_card_transactions/mark_personal:
    $ref: paths/admin@corporate_card_transactions@mark_personal.yaml
  /admin/corporate_card_transactions/mark_personal/bulk:
    $ref: paths/admin@corporate_card_transactions@mark_personal@bulk.yaml
  /admin/corporate_card_transactions/unmark_personal:
    $ref: paths/admin@corporate_card_transactions@unmark_personal.yaml
  #  /admin/corporate_card_transactions/unmark_personal/bulk:
  #    $ref: paths/admin@corporate_card_transactions@unmark_personal@bulk.yaml
  /admin/corporate_card_transactions/ignore:
    $ref: paths/admin@corporate_card_transactions@ignore.yaml
  /admin/corporate_card_transactions/ignore/bulk:
    $ref: paths/admin@corporate_card_transactions@ignore@bulk.yaml
  /admin/corporate_card_transactions/undo_ignore:
    $ref: paths/admin@corporate_card_transactions@undo_ignore.yaml
  #  /admin/corporate_card_transactions/undo_ignore/bulk:
  #    $ref: paths/admin@corporate_card_transactions@undo_ignore@bulk.yaml
  /admin/corporate_card_transactions/match:
    $ref: paths/admin@corporate_card_transactions@match.yaml
  /admin/corporate_card_transactions/unmatch:
    $ref: paths/admin@corporate_card_transactions@unmatch.yaml
  /admin/corporate_card_transactions/exports:
    $ref: paths/admin@corporate_card_transactions@exports.yaml

  /admin/virtual_cards:
    $ref: paths/admin@virtual_cards.yaml
  /admin/virtual_cards/get_current_amount:
    $ref: paths/admin@virtual_cards@get_current_amount.yaml
  /admin/virtual_cards/show_card_details:
    $ref: paths/admin@virtual_cards@show_card_details.yaml
  /admin/virtual_cards/delete:
    $ref: paths/admin@virtual_cards@delete.yaml

  /admin/subscriptions:
    $ref: paths/admin@subscriptions.yaml
  # /admin/suggestions/expenses:
  #   $ref: paths/admin@suggestions@expenses.yaml
  # /admin/suggestions/corporate_card_transactions:
  #   $ref: paths/admin@suggestions@corporate_card_transactions.yaml

  /admin/reimbursements:
    $ref: paths/admin@reimbursements.yaml
  # /admin/reimbursements/mark_complete:
  #   $ref: paths/admin@reimbursements@mark_complete.yaml
  /admin/reimbursements/mark_paid/bulk:
    $ref: paths/admin@reimbursements@mark_paid@bulk.yaml

  /admin/employee_account_summaries:
    $ref: paths/admin@employee_account_summaries.yaml
  /admin/schedules:
    $ref: 'paths/admin@schedules.yaml'
  /admin/scheduled_callbacks:
    $ref: 'paths/admin@scheduled_callbacks.yaml'
  /admin/spend_overview/summary:
    $ref: 'paths/admin@spend_overview@summary.yaml'
  /admin/spend_overview/by_merchant:
    $ref: 'paths/admin@spend_overview@by_merchant.yaml'
  /admin/spend_overview/by_project:
    $ref: 'paths/admin@spend_overview@by_project.yaml'
  /admin/spend_overview/by_category:
    $ref: 'paths/admin@spend_overview@by_category.yaml'
  /admin/spend_overview/by_department:
    $ref: 'paths/admin@spend_overview@by_department.yaml'
  /admin/spend_overview/by_user:
    $ref: 'paths/admin@spend_overview@by_user.yaml'
  /admin/spend_overview/by_corporate_card:
    $ref: 'paths/admin@spend_overview@by_corporate_card.yaml'

  /admin/accounts:
    $ref: 'paths/admin@accounts.yaml'
  /admin/tax_groups:
    $ref: 'paths/admin@tax_groups.yaml'
  /admin/tax_groups/bulk:
    $ref: paths/admin@tax_groups@bulk.yaml
  /admin/budgets:
    $ref: 'paths/admin@budgets.yaml'
  /admin/budget_usages:
    $ref: paths/admin@budget_usages.yaml
  /admin/orgs:
    $ref: paths/admin@orgs.yaml
  /admin/expense_policy_rules:
    $ref: paths/admin@expense_policies.yaml
  /admin/expense_policy_rules/enable:
    $ref: paths/admin@expense_policies@enable.yaml
  /admin/expense_policy_rules/disable:
    $ref: paths/admin@expense_policies@disable.yaml
  /admin/expense_policy_rules/reorder:
    $ref: paths/admin@expense_policies@reorder.yaml
  /admin/expense_policy_states:
    $ref: paths/admin@expense_policies@states.yaml
  /admin/statements:
    $ref: paths/admin@statements.yaml
  /admin/statements/upload:
    $ref: paths/admin@statements@upload.yaml
  /admin/statement_mappings:
    $ref: paths/admin@statement_mappings.yaml
  /admin/statements/suggest_mappings:
    $ref: paths/admin@statements@suggest_mappings.yaml
  /admin/statements/preview:
    $ref: paths/admin@statements@preview.yaml
  /admin/statements/card_stats:
    $ref: paths/admin@statements@card_stats.yaml
  /admin/statements/matching_cards:
    $ref: paths/admin@statements@matching_cards.yaml
  /admin/statements/missing_transactions:
    $ref: paths/admin@statements@missing_transactions.yaml
  /admin/statements/create_card_transactions:
    $ref: paths/admin@statements@create_card_transactions.yaml
  /admin/statements/rtf_stats:
    $ref: paths/admin@statements@rtf_stats.yaml
  /admin/expense_rules:
    $ref: paths/admin@expense_rules.yaml
  /admin/expense_rules/delete:
    $ref: paths/admin@expense_rules@delete.yaml
  /admin/expenses/check_mandatory_fields:
    $ref: paths/admin@expenses@check_mandatory_fields.yaml
  /admin/expenses/comments:
    $ref: paths/admin@expenses@comments.yaml
  /admin/expenses/comments/bulk:
    $ref: paths/admin@expenses@comments@bulk.yaml
  /admin/expenses/dismiss_duplicates/bulk:
    $ref: paths/admin@expenses@dismiss_duplicates@bulk.yaml
  /admin/expenses/duplicate_sets:
    $ref: paths/admin@expenses@duplicate_sets.yaml
  /admin/expenses/duplicate_sets/stats:
    $ref: paths/admin@expenses@duplicate_sets@stats.yaml
  /admin/feature_configs:
    $ref: paths/admin@feature_configs.yaml
  /admin/feature_configs/bulk:
    $ref: paths/admin@feature_configs@bulk.yaml
  /admin/expenses/split:
    $ref: paths/admin@expenses@split.yaml
  /admin/expenses/split/check_mandatory_fields:
    $ref: paths/admin@expenses@split@check_mandatory_fields.yaml
  /admin/expenses/split/check_policies:
    $ref: paths/admin@expenses@split@check_policies.yaml
  /admin/orgs/bank_details:
    $ref: paths/admin@orgs_bank_details.yaml
  /admin/merchants:
    $ref: paths/admin@merchants.yaml
  /admin/expenses/delete/bulk:
    $ref: paths/admin@expenses@delete@bulk.yaml
  /admin/employee_settings:
    $ref: paths/admin@employee@settings.yaml
  /admin/advance_requests/attach_files/bulk:
    $ref: paths/admin@advance_requests@bulk_attach_file.yaml
  /admin/expense_policy_comments:
    $ref: paths/admin@expense_policy_comments.yaml
