openapi: 3.0.3
info:
  version: '1.0'
  title: Admin APIs
  description: Fyle Platform Admin APIs
  contact:
    name: Integrations
    email: support@fylehq.com
servers:
  - url: 'https://hulk.fyle.tech/platform/v1'
    description: Staging Server
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: 'https://accounts.fylehq.com/app/developers/#/oauth/authorize'
          tokenUrl: 'https://accounts.fylehq.com/oauth/token'
          scopes:
            '*': 'Grant all actions'
tags:
  - name: Projects
    description: |
      These APIs gives you access to manage your organisation's Projects
  - name: Cost Centers
    description: >
      These APIs gives you access to manage your organisation's Cost Centers
      data.
  - name: Per Diem Rates
    description: |
      These APIs gives you access to manage your organisation's Per Diem Rates
  - name: Departments
    description: |
      These APIs gives you access to manage your organisation's Departments
  - name: Categories
    description: |
      These APIs gives you access to manage your organisation's Categories
  - name: Mileage Rates
    description: |
      These APIs gives you access to manage your organisation's Mileage Rates
  - name: Levels
    description: |
      These APIs gives you access to manage your organisation's Employee levels.
  - name: Employees
    description: |
      These APIs gives you access to manage your organisation's Employees
  - name: Expenses
    description: |
      This API gives you access to your organisation's Expenses
  - name: Files
    description: |
      This API gives you access to creates a file in Fyle
  - name: Reimbursements
    description: >
      These APIs gives you access to manage your organisation's Reimbursements
      data
  - name: Accounts
    description: |
      This APIs gives access to your Employees's accounts data.
  - name: Accounting Exports
    description: |
      This API allows you to record export of Fyle resources to an external accounting exports
  - name: Settlements
    description: >
      This API gives you access to manage your organisation's Settlements data.
  - name: Adjustments
    description: >
      This API gives you access to manage your organisation's Adjustments data.
  - name: Expense Fields
    description: |
      This API gives you access to manage your organisation's Expense Fields data.
  - name: Advance Requests
    description: |
      This API gives you access to manage your organisation's Advance Requests data.
  - name: Advances
    description: |
      This API gives you access to manage your organisation's Advances data.
  - name: Cards
    description: |
      This API gives you access to manage your organisation's Cards data.
  - name: Card Transactions
    description: |
      This API gives you access to manage your organisation's Card Transactions data.
  - name: Suggestions
    description: |
      This API gives you access to Expense/Card Transactions Suggestions.
  # - name: Reports
  #   description: |
  #     This API gives you access to your organisation's Expense Reports
  # - name: Advances
  #   description: |
  #     This API gives you access to Issued Advances data of your organisation.
  # - name: Refunds
  #   description: |
  #     These APIs gives you access to manage your organisation's Refunds data.
  # - name: Balance Transfers
  #   description: >
  #     These APIs gives you access to manage your organisation's Balance
  #     Transfers data.
paths:
  /admin/projects:
    $ref: paths/admin@projects.yaml
  /admin/cost_centers:
    $ref: paths/admin@cost_centers.yaml
  /admin/categories:
    $ref: paths/admin@categories.yaml
  /admin/expense_fields:
    $ref: paths/admin@expense_fields.yaml
  /admin/per_diem_rates:
    $ref: paths/admin@per_diem_rates.yaml
  /admin/departments:
    $ref: paths/admin@departments.yaml
  /admin/mileage_rates:
    $ref: paths/admin@mileage_rates.yaml
  /admin/levels:
    $ref: paths/admin@levels.yaml
  /admin/invitations/bulk:
    $ref: paths/admin@invitations@bulk.yaml
  /admin/employees:
    $ref: paths/admin@employees.yaml
  /admin/files:
    $ref: paths/admin@files.yaml
  /admin/accounting_exports:
    $ref: paths/admin@accounting_exports.yaml
  /admin/accounting_export_lineitems:
    $ref: paths/admin@accounting_export_lineitems.yaml
  /admin/expenses:
    $ref: paths/admin@expenses.yaml
  /admin/advance_requests:
    $ref: paths/admin@advance_requests.yaml
  /admin/advances:
    $ref: paths/admin@advances.yaml

  /admin/cards:
    $ref: paths/admin@cards.yaml
  /admin/cards/bulk:
    $ref: paths/admin@cards@bulk.yaml
  /admin/cards/assign:
    $ref: paths/admin@cards@assign.yaml
  /admin/cards/unassign:
    $ref: paths/admin@cards@unassign.yaml

  /admin/card_transactions:
    $ref: paths/admin@card_transactions.yaml
  /admin/card_transactions/bulk:
    $ref: paths/admin@card_transactions@bulk.yaml

  /admin/card_transactions/assign:
    $ref: paths/admin@card_transactions@assign.yaml
  /admin/card_transactions/assign/bulk:
    $ref: paths/admin@card_transactions@assign@bulk.yaml
  /admin/card_transactions/unassign:
    $ref: paths/admin@card_transactions@unassign.yaml
  /admin/card_transactions/unassign/bulk:
    $ref: paths/admin@card_transactions@unassign@bulk.yaml
  /admin/card_transactions/mark_personal:
    $ref: paths/admin@card_transactions@mark_personal.yaml
  /admin/card_transactions/mark_personal/bulk:
    $ref: paths/admin@card_transactions@mark_personal@bulk.yaml
  /admin/card_transactions/unmark_personal:
    $ref: paths/admin@card_transactions@unmark_personal.yaml
  /admin/card_transactions/unmark_personal/bulk:
    $ref: paths/admin@card_transactions@unmark_personal@bulk.yaml
  /admin/card_transactions/ignore:
    $ref: paths/admin@card_transactions@ignore.yaml
  /admin/card_transactions/ignore/bulk:
    $ref: paths/admin@card_transactions@ignore@bulk.yaml
  /admin/card_transactions/undo_ignore:
    $ref: paths/admin@card_transactions@undo_ignore.yaml
  /admin/card_transactions/undo_ignore/bulk:
    $ref: paths/admin@card_transactions@undo_ignore@bulk.yaml
  /admin/card_transactions/match:
    $ref: paths/admin@card_transactions@match.yaml
  /admin/card_transactions/unmatch:
    $ref: paths/admin@card_transactions@unmatch.yaml

  /admin/suggestions/expenses:
    $ref: paths/admin@suggestions@expenses.yaml
  /admin/suggestions/card_transactions:
    $ref: paths/admin@suggestions@card_transactions.yaml

  /admin/settlements:
    $ref: paths/admin@settlements.yaml
  /admin/settlements/bulk:
    $ref: paths/admin@settlements@bulk.yaml

  /admin/adjustments:
    $ref: paths/admin@adjustments.yaml
  /admin/adjustments/bulk:
    $ref: paths/admin@adjustments@bulk.yaml

  /admin/reimbursements:
    $ref: paths/admin@reimbursements.yaml
  /admin/reimbursements/mark_complete:
    $ref: paths/admin@reimbursements@mark_complete.yaml
  /admin/reimbursements/mark_complete/bulk:
    $ref: paths/admin@reimbursements@mark_complete@bulk.yaml

  /admin/user_account_summaries:
    $ref: paths/admin@user_account_summaries.yaml
  /admin/accounts:
    $ref: 'paths/admin@accounts.yaml'
  # /admin/refunds:
  #   $ref: paths/admin@refunds.yaml
  # /admin/balance_transfers:
  #   $ref: paths/admin@balance_transfers.yaml
