openapi: 3.0.3
info:
  version: '1.0'
  title: Admin APIs
  description: |
    These APIs are generally used to integrate Fyle with accounting or HRMS systems. 
  contact:
    name: Platform Beta
    email: platform-beta@fylehq.com
servers:
  - url: 'https://us1.fylehq.com/platform/v1beta'
    description: US Region Server
  - url: 'https://in1.fylehq.com/platform/v1beta'
    description: India Region Server
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: 'https://accounts.fylehq.com/app/developers/#/oauth/authorize'
          tokenUrl: 'https://accounts.fylehq.com/oauth/token'
          scopes:
            '*': 'Grant all actions'
tags:

  - name: Accounting Exports
    description: |
      This API allows you to record export of Fyle resources to an external accounting exports
  - name: Accounts
    description: |
      This APIs gives access to your Employees's accounts data.
  - name: Adjustments
    description: >
      This API gives you access to manage your organisation's Adjustments data.
  - name: Advances
    description: |
      This API gives you access to manage your organisation's Advances data.
  - name: Budgets
    description: |
      This API gives you access to Budgets.
  - name: Categories
    description: |
      These APIs gives you access to manage your organisation's Categories
  - name: Corporate Cards
    description: |
      This API gives you access to manage your organisation's Corporate Cards data.
  - name: Cost Centers
    description: >
      These APIs gives you access to manage your organisation's Cost Centers
      data.
  - name: Departments
    description: |
      These APIs gives you access to manage your organisation's Departments
  - name: Employees
    description: |
      These APIs gives you access to manage your organisation's Employees
  - name: Expenses
    description: |
      This API gives you access to your organisation's Expenses
  - name: Files
    description: |
      This API gives you access to creates a file in Fyle
  - name: Levels
    description: |
      These APIs gives you access to manage your organisation's Employee levels.
  - name: Mileage Rates
    description: |
      These APIs gives you access to manage your organisation's Mileage Rates
  - name: Per Diem Rates
    description: |
      These APIs gives you access to manage your organisation's Per Diem Rates
  - name: Projects
    description: |
      These APIs gives you access to manage your organisation's Projects
  - name: Reimbursements
    description: |
      These APIs gives you access to manage your organisation's Reimbursements
      data
  - name: Schedules
    description: |
      This API gives you access to manage Scheduled jobs.
  - name: Settlements
    description: >
      This API gives you access to manage your organisation's Settlements data.
  - name: Tax Groups
    description: >
      These APIs gives you access to manage your organisation's Tax Groups data.
  - name: Organisations
    description: >
      These APIs gives you access to manage organisations.
  # - name: Suggestions
  #   description: |
  #     This API gives you access to Expense/Card Transactions Suggestions.

paths:
  /admin/projects:
    $ref: paths/admin@projects.yaml
  /admin/projects/bulk:
    $ref: paths/admin@projects@bulk.yaml
  /admin/cost_centers:
    $ref: paths/admin@cost_centers.yaml
  /admin/cost_centers/bulk:
    $ref: paths/admin@cost_centers@bulk.yaml
  /admin/categories:
    $ref: paths/admin@categories.yaml
  /admin/categories/bulk:
    $ref: paths/admin@categories@bulk.yaml
  /admin/expense_fields:
    $ref: paths/admin@expense_fields.yaml
  /admin/per_diem_rates:
    $ref: paths/admin@per_diem_rates.yaml
  /admin/departments:
    $ref: paths/admin@departments.yaml
  /admin/mileage_rates:
    $ref: paths/admin@mileage_rates.yaml
  /admin/levels:
    $ref: paths/admin@levels.yaml
  /admin/employees:
    $ref: paths/admin@employees.yaml
  /admin/employees/invite/bulk:
    $ref: paths/admin@employees@invite@bulk.yaml
  /admin/files:
    $ref: paths/admin@files.yaml
  /admin/files/generate_urls/bulk:
    $ref: paths/admin@files@generate_urls@bulk.yaml
  /admin/accounting_exports:
    $ref: paths/admin@accounting_exports.yaml
  /admin/accounting_export_lineitems:
    $ref: paths/admin@accounting_export_lineitems.yaml
  /admin/accounting_export_lineitems/bulk:
    $ref: paths/admin@accounting_export_lineitems@bulk.yaml
  /admin/expenses:
    $ref: paths/admin@expenses.yaml
  /admin/advance_requests:
    $ref: paths/admin@advance_requests.yaml
  /admin/advances:
    $ref: paths/admin@advances.yaml

  /admin/corporate_cards:
    $ref: paths/admin@corporate_cards.yaml
  /admin/corporate_cards/bulk:
    $ref: paths/admin@corporate_cards@bulk.yaml
  /admin/corporate_cards/assign:
    $ref: paths/admin@corporate_cards@assign.yaml
  /admin/corporate_cards/unassign:
    $ref: paths/admin@corporate_cards@unassign.yaml

  /admin/corporate_card_transactions:
    $ref: paths/admin@corporate_card_transactions.yaml
  /admin/corporate_card_transactions/bulk:
    $ref: paths/admin@corporate_card_transactions@bulk.yaml

  /admin/corporate_card_transactions/assign:
    $ref: paths/admin@corporate_card_transactions@assign.yaml
#  /admin/corporate_card_transactions/assign/bulk:
#    $ref: paths/admin@corporate_card_transactions@assign@bulk.yaml
  /admin/corporate_card_transactions/unassign:
    $ref: paths/admin@corporate_card_transactions@unassign.yaml
#  /admin/corporate_card_transactions/unassign/bulk:
#    $ref: paths/admin@corporate_card_transactions@unassign@bulk.yaml
  /admin/corporate_card_transactions/mark_personal:
    $ref: paths/admin@corporate_card_transactions@mark_personal.yaml
#  /admin/corporate_card_transactions/mark_personal/bulk:
#    $ref: paths/admin@corporate_card_transactions@mark_personal@bulk.yaml
  /admin/corporate_card_transactions/unmark_personal:
    $ref: paths/admin@corporate_card_transactions@unmark_personal.yaml
#  /admin/corporate_card_transactions/unmark_personal/bulk:
#    $ref: paths/admin@corporate_card_transactions@unmark_personal@bulk.yaml
  /admin/corporate_card_transactions/ignore:
    $ref: paths/admin@corporate_card_transactions@ignore.yaml
#  /admin/corporate_card_transactions/ignore/bulk:
#    $ref: paths/admin@corporate_card_transactions@ignore@bulk.yaml
  /admin/corporate_card_transactions/undo_ignore:
    $ref: paths/admin@corporate_card_transactions@undo_ignore.yaml
#  /admin/corporate_card_transactions/undo_ignore/bulk:
#    $ref: paths/admin@corporate_card_transactions@undo_ignore@bulk.yaml
  /admin/corporate_card_transactions/match:
    $ref: paths/admin@corporate_card_transactions@match.yaml
  /admin/corporate_card_transactions/unmatch:
    $ref: paths/admin@corporate_card_transactions@unmatch.yaml

  # /admin/suggestions/expenses:
  #   $ref: paths/admin@suggestions@expenses.yaml
  # /admin/suggestions/corporate_card_transactions:
  #   $ref: paths/admin@suggestions@corporate_card_transactions.yaml

  /admin/settlements:
    $ref: paths/admin@settlements.yaml
  # /admin/settlements/bulk:
  #   $ref: paths/admin@settlements@bulk.yaml

  /admin/adjustments:
    $ref: paths/admin@adjustments.yaml
  # /admin/adjustments/bulk:
  #   $ref: paths/admin@adjustments@bulk.yaml

  /admin/reimbursements:
    $ref: paths/admin@reimbursements.yaml
  # /admin/reimbursements/mark_complete:
  #   $ref: paths/admin@reimbursements@mark_complete.yaml
  /admin/reimbursements/mark_paid/bulk:
    $ref: paths/admin@reimbursements@mark_paid@bulk.yaml

  /admin/user_account_summaries:
    $ref: paths/admin@user_account_summaries.yaml
  /admin/schedules:
    $ref: 'paths/admin@schedules.yaml'
  /admin/accounts:
    $ref: 'paths/admin@accounts.yaml'
  /admin/tax_groups:
    $ref: 'paths/admin@tax_groups.yaml'
  /admin/tax_groups/bulk:
    $ref: paths/admin@tax_groups@bulk.yaml
  /admin/budgets:
    $ref: 'paths/admin@budgets.yaml'
  /admin/budget_usages:
    $ref: paths/admin@budget_usages.yaml
  /admin/orgs:
    $ref: paths/admin@orgs.yaml
