openapi: 3.0.3
info:
  version: '3.0'
  title: Common APIs
  description: |
    These APIs are common and used by every role.
  contact:
    name: Platform Beta
    email: support@fylehq.com
servers:
  - url: 'https://us1.fylehq.com/platform/v1'
    description: US Region Server
  - url: 'https://in1.fylehq.com/platform/v1'
    description: India Region Server
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: 'https://app.fylehq.com/app/developers/#/oauth/authorize'
          tokenUrl: 'https://accounts.fylehq.com/oauth/token'
          scopes:
            '*': 'Grant all actions'

tags:
  - name: Currencies
    description: |
      These APIs gives you list of currencies supported by Fyle and their exchange rates.
  # - name: Data Extraction
  #   description: |
  #     These APIs gives the expense relevant data from the reciepts.
  - name: Places
    description: |
      These APIs provide location services including place suggestions, geocoding, distance calculations, and directions. The new POST endpoints follow Fyle API standards and replace the legacy GET endpoints.

paths:
  /common/places/autocomplete:
    $ref: 'paths/common@places@autocomplete.yaml'
  /common/places:
    $ref: 'paths/common@places.yaml'
  /common/location/autocomplete:
    $ref: 'paths/common@location@autocomplete.yaml'
  /common/location/geocode:
    $ref: 'paths/common@location@geocode.yaml'
  /common/location/distance:
    $ref: 'paths/common@location@distance.yaml'
  /common/location/directions:
    $ref: 'paths/common@location@directions.yaml'
  /common/currency/list:
    $ref: 'paths/common@currencies.yaml'
  /common/currency/exchange_rate:
    $ref: 'paths/common@currencies@exchange_rate.yaml'
  /common/org_settings/org_logo_settings/generate_download_url:
    $ref: 'paths/common@org_settings@org_logo_settings@generate_download_url.yaml'
  # Hiding extraction API for now as thr are some changes in the contract for extraction API.
  # /common/expense_extract/v1:
  #   $ref: 'paths/common@expense_extract@v1.yaml'
