openapi: 3.0.3
info:
  version: '3.0'
  title: Common APIs
  description: |
    These APIs are common and used by every role.
  contact:
    name: Platform Beta
    email: support@fylehq.com
servers:
  - url: 'https://us1.fylehq.com/platform/v1'
    description: US Region Server
  - url: 'https://in1.fylehq.com/platform/v1'
    description: India Region Server
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: 'https://app.fylehq.com/app/developers/oauth/authorize'
          tokenUrl: 'https://accounts.fylehq.com/oauth/token'
          scopes:
            '*': 'Grant all actions'

tags:
  - name: Currencies
    description: |
      These APIs gives you list of currencies supported by Sage Exp Mgmt and their exchange rates.
  - name: Employees
    description: |
      These APIs give you access to employee-related operations.
  - name: Organizations
    description: |
      These APIs give you access to organization signup operations.
  # - name: Data Extraction
  #   description: |
  #     These APIs gives the expense relevant data from the reciepts.
  - name: Places
    description: |
      These APIs gives the places suggestions and geographic data of a place.
  - name: Secondary Emails
    description: |
      These APIs give you access to secondary-email operations.

paths:
  /common/employees/approver_allowed:
    $ref: 'paths/common@employees@approver_allowed.yaml'
  /common/employees/is_mobile_verified:
    $ref: 'paths/common@employees@is_mobile_verified.yaml'
  /common/orgs/signup:
    $ref: 'paths/common@orgs@signup.yaml'
  /common/orgs/signup/validate:
    $ref: 'paths/common@orgs@signup@validate.yaml'
  /common/secondary_emails/verify:
    $ref: 'paths/common@secondary_emails@verify.yaml'
  /common/places/autocomplete:
    $ref: 'paths/common@places@autocomplete.yaml'
  /common/places:
    $ref: 'paths/common@places.yaml'
  /common/currency/list:
    $ref: 'paths/common@currencies.yaml'
  /common/currency/exchange_rate:
    $ref: 'paths/common@currencies@exchange_rate.yaml'
  /common/org_settings/org_logo_settings/generate_download_url:
    $ref: 'paths/common@org_settings@org_logo_settings@generate_download_url.yaml'
  # Hiding extraction API for now as thr are some changes in the contract for extraction API.
  # /common/expense_extract/v1:
  #   $ref: 'paths/common@expense_extract@v1.yaml'
