openapi: 3.0.3
info:
  version: '1.0'
  title: Fyler APIs
  termsOfService: 'https://www.fylehq.com/privacy/terms-and-conditions'
  contact:
    name: Integrations
    email: support@fylehq.com
servers:
  - url: 'https://hulk.fyle.tech/platform/v1'
    description: Staging Server
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: 'https://accounts.fylehq.com/app/developers/#/oauth/authorize'
          tokenUrl: 'https://accounts.fylehq.com/oauth/token'
          scopes:
            '*': 'Grant all actions'

tags:
  - name: My Profile
    description: |
      This API gives you access to manage your profile data.
  - name: Projects
    description: |
      These APIs gives you access to Projects data.
  - name: Cost Centers
    description: |
      These APIs gives you access to Cost Centers data.
  - name: Vendors
    description: |
      This API gives you a list of vendors
  - name: Categories
    description: |
      This API gives you list of your organisation's Categories data.
  - name: Currencies
    description: |
      This API gives you list of currencies supported by Fyle.
  - name: Expenses
    description: |
      This API gives you access to your Expenses data.
  - name: Reports
    description: |
      This API gives you access to your Expense Reports data.
  - name: Trips
    description: |
      This API gives you stats of your trip requests.
  - name: Advances
    description: |
      This API gives you stats of your advance requests.
  - name: Files
    description: |
      Creates a file.
  - name: Mileage Rates
    description: |
      These APIs gives access to your organisation's Mileage Rates

paths:
#  /fyler/projects:
#    $ref: paths/fyler@projects.yaml
#  /fyler/cost_centers:
#    $ref: paths/fyler@cost_centers.yaml
#  /fyler/categories:
#    $ref: paths/fyler@categories.yaml
#  /fyler/expense_fields:
#    $ref: paths/fyler@expense_fields.yaml
#  /fyler/mileage_rates:
#    $ref: paths/fyler@mileage_rates.yaml
  /fyler/my_profile:
    $ref: paths/fyler@my_profile.yaml

  # '/fyler/expenses/{id}':
  #   $ref: 'paths/fyler@expenses@{id}.yaml'
  # /fyler/expenses:
  #   $ref: paths/fyler@expenses.yaml
  # /fyler/my_profile:
  #   $ref: paths/fyler@my_profile.yaml
  # /fyler/vendors:
  #   $ref: paths/fyler@vendors.yaml
  # /fyler/currencies:
  #   $ref: paths/fyler@currencies.yaml
  # /fyler/exchange_rate:
  #   $ref: paths/fyler@exchange_rate.yaml
  # /fyler/expense_stats:
  #   $ref: paths/fyler@expense_stats.yaml
  # /fyler/trip_requests_stats:
  #   $ref: paths/fyler@trip_requests_stats.yaml
  # /fyler/advance_requests_stats:
  #   $ref: paths/fyler@advance_requests_stats.yaml
  # /fyler/report_stats:
  #   $ref: paths/fyler@report_stats.yaml
  # /fyler/expense_comments:
  #   $ref: paths/fyler@expense_comments.yaml
  # /fyler/policy_test:
  #   $ref: paths/fyler@policy_test.yaml
  # /fyler/reports:
  #   $ref: paths/fyler@reports.yaml
  # /fyler/files:
  #   $ref: paths/fyler@files.yaml
  # /fyler/expense_files:
  #   $ref: paths/fyler@expense_files.yaml
  # /fyler/transportation_booking_files:
  #   $ref: paths/fyler@transportation_booking_files.yaml
  # /fyler/advance_request_files:
  #   $ref: paths/fyler@advance_request_files.yaml
  # /fyler/email_files:
  #   $ref: paths/fyler@email_files.yaml
