openapi: 3.0.3
info:
  version: '1.0'
  title: Fyler APIs
  termsOfService: 'https://www.fylehq.com/privacy/terms-and-conditions'
  contact:
    name: Integrations
    email: support@fylehq.com
servers:
  - url: 'https://hulk.fyle.tech/platform/v1'
    description: Staging Server
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: 'https://accounts.fylehq.com/app/developers/#/oauth/authorize'
          tokenUrl: 'https://accounts.fylehq.com/oauth/token'
          scopes:
            '*': 'Grant all actions'

tags:
  - name: My Profile
    description: |
      This API gives you access to manage your profile data.
  - name: Accounts
    description: |
      These APIs gives access to your account's data.
  - name: Expenses
    description: |
      This API gives you access to your Expenses data.
  - name: Advances
    description: |
      This API gives you access to view your Issued Advances data.
  - name: Departments
    description: |
      These APIs gives you access to Departments data.
  - name: Projects
    description: |
      These APIs gives you access to Projects data.
  - name: Cost Centers
    description: |
      These APIs gives you access to Cost Centers data.
  - name: Per Diem Rates
    description: |
      These APIs gives you access to your Per Diem Rates
  - name: Mileage Rates
    description: |
      These APIs gives access to your organisation's Mileage Rates
  #  - name: Vendors
  #    description: |
  #      This API gives you a list of vendors
  - name: Categories
    description: |
      This API gives you list of your organisation's Categories data.
  - name: Expense Fields
    description: |
      This API gives you access to manage your organisation's Expense Fields data.
  #  - name: Currencies
  #    description: |
  #      This API gives you list of currencies supported by Fyle.
  - name: Tax Groups
    description: >
      These APIs gives you access to manage your organisation's Tax Groups data.
  - name: Reports
    description: |
      This API gives you access to your Expense Reports data.
  - name: Subscriptions
    description: |
      This API allows you to subscribe to different events.
  - name: Corporate Cards
    description: |
      This API gives you access to your Cards data.
  - name: Schedules
    description: |
      This API let you create Scheduled jobs. 
      This API gives you access to your Corporate Cards data.
#  - name: Trips
#    description: |
#      This API gives you stats of your trip requests.
#  - name: Advances
#    description: |
#      This API gives you stats of your advance requests.
  - name: Corporate Card Transactions
    description: |
      This API gives you access to manage your Corporate Card Transactions data.
  - name: Suggestions
    description: |
      This API gives you access to Expense/Card Transactions Suggestions.
#  - name: Files
#    description: |
#      Creates a file.

paths:
  /fyler/projects:
    $ref: 'paths/fyler@projects.yaml'
  /fyler/cost_centers:
    $ref: 'paths/fyler@cost_centers.yaml'
  /fyler/categories:
    $ref: 'paths/fyler@categories.yaml'
  /fyler/expense_fields:
    $ref: 'paths/fyler@expense_fields.yaml'
  /fyler/mileage_rates:
    $ref: 'paths/fyler@mileage_rates.yaml'
  /fyler/my_profile:
    $ref: 'paths/fyler@my_profile.yaml'
  /fyler/accounts:
    $ref: 'paths/fyler@accounts.yaml'
  /fyler/departments:
    $ref: 'paths/fyler@departments.yaml'
  /fyler/expenses:
    $ref: 'paths/fyler@expenses.yaml'
  /fyler/per_diem_rates:
    $ref: 'paths/fyler@per_diem_rates.yaml'
  /fyler/merchants:
    $ref: 'paths/fyler@merchants.yaml'
  /fyler/subscriptions:
    $ref: 'paths/fyler@subscriptions.yaml'
  /fyler/schedules:
    $ref: 'paths/fyler@schedules.yaml'
  # /fyler/vendors:
  #   $ref: paths/fyler@vendors.yaml
  # /fyler/currencies:
  #   $ref: paths/fyler@currencies.yaml
  # /fyler/exchange_rate:
  #   $ref: paths/fyler@exchange_rate.yaml
  # /fyler/expense_stats:
  #   $ref: paths/fyler@expense_stats.yaml
  # /fyler/trip_requests_stats:
  #   $ref: paths/fyler@trip_requests_stats.yaml
  # /fyler/advance_requests_stats:
  #   $ref: paths/fyler@advance_requests_stats.yaml
  # /fyler/report_stats:
  #   $ref: paths/fyler@report_stats.yaml
  # /fyler/expense_comments:
  #   $ref: paths/fyler@expense_comments.yaml
  # /fyler/policy_test:
  #   $ref: paths/fyler@policy_test.yaml
  /fyler/reports:
    $ref: paths/fyler@reports.yaml
  /fyler/advance_requests:
    $ref: paths/fyler@advance_requests.yaml
  /fyler/advances:
    $ref: paths/fyler@advances.yaml

  /fyler/corporate_cards:
    $ref: paths/fyler@corporate_cards.yaml

  /fyler/corporate_card_transactions:
    $ref: paths/fyler@corporate_card_transactions.yaml

  /fyler/corporate_card_transactions/mark_personal:
    $ref: paths/fyler@corporate_card_transactions@mark_personal.yaml
  /fyler/corporate_card_transactions/mark_personal/bulk:
    $ref: paths/fyler@corporate_card_transactions@mark_personal@bulk.yaml
  /fyler/corporate_card_transactions/unmark_personal:
    $ref: paths/fyler@corporate_card_transactions@unmark_personal.yaml
  /fyler/corporate_card_transactions/unmark_personal/bulk:
    $ref: paths/fyler@corporate_card_transactions@unmark_personal@bulk.yaml
  /fyler/corporate_card_transactions/ignore:
    $ref: paths/fyler@corporate_card_transactions@ignore.yaml
  /fyler/corporate_card_transactions/ignore/bulk:
    $ref: paths/fyler@corporate_card_transactions@ignore@bulk.yaml
  /fyler/corporate_card_transactions/undo_ignore:
    $ref: paths/fyler@corporate_card_transactions@undo_ignore.yaml
  /fyler/corporate_card_transactions/undo_ignore/bulk:
    $ref: paths/fyler@corporate_card_transactions@undo_ignore@bulk.yaml
  /fyler/corporate_card_transactions/match:
    $ref: paths/fyler@corporate_card_transactions@match.yaml
  /fyler/corporate_card_transactions/unmatch:
    $ref: paths/fyler@corporate_card_transactions@unmatch.yaml

  /fyler/suggestions/expenses:
    $ref: paths/fyler@suggestions@expenses.yaml
  /fyler/suggestions/corporate_card_transactions:
    $ref: paths/fyler@suggestions@corporate_card_transactions.yaml
  /fyler/tax_groups:
    $ref: 'paths/fyler@tax_groups.yaml'

  # /fyler/files:
  #   $ref: paths/fyler@files.yaml
  # /fyler/expense_files:
  #   $ref: paths/fyler@expense_files.yaml
  # /fyler/transportation_booking_files:
  #   $ref: paths/fyler@transportation_booking_files.yaml
  # /fyler/advance_request_files:
  #   $ref: paths/fyler@advance_request_files.yaml
  # /fyler/email_files:
  #   $ref: paths/fyler@email_files.yaml
